<h1>
  Reset your password
</h1>

<form
  [formGroup]="resetPasswordForm"
  (ngSubmit)="resetPassword()"
  novalidate>

  <gd-form-field
    label="Current password"
    [serverErrors]="errors"
    *ngIf="!hasToken">
    <input
      gdInput
      type="password"
      formControlName="currentPassword">
  </gd-form-field>

  <gd-form-field
    label="New password"
    [serverErrors]="errors">
    <input
      gdInput
      type="password"
      formControlName="password">
  </gd-form-field>

  <gd-form-field
    label="New password again"
    [serverErrors]="errors">
    <input
      gdInput
      type="password"
      formControlName="passwordAgain">
  </gd-form-field>

  <button
    gdButton
    type="submit"
    [disabled]="isLoading">
    Reset password
  </button>
</form>

<p *ngIf="!hasToken">
  <a [routerLink]="['/forgotten']">Forget your password?</a>
</p>
