@import '../../../styles/mixins';

:host {
  width: 100%;
}

.gd-media {
  display: flex;
}

::ng-deep {
  .gd-media-md {
    & > gd-media-thumbnail {
      padding-right: $gd-spacing;
    }

    & > gd-media-content + gd-media-thumbnail {
      padding-left: $gd-spacing;
      padding-right: 0;
    }
  }

  .gd-media-xs {
    & > gd-media-thumbnail {
      padding-right: $gd-spacing-sm;
    }

    & > gd-media-content + gd-media-thumbnail {
      padding-left: $gd-spacing-sm;
      padding-right: 0;
    }
  }
}
