@import '../../../../styles/mixins';

.gd-friendships {
  h2 {
    margin: 0;
    font-weight: $gd-font-weight;
    font-size: 1rem;
  }
}

.gd-friendships-list {
  padding: $gd-spacing-padding-squish;
}

.gd-friendships-list-item {
  margin: 0 0 $gd-spacing-sm;

  a {
    font-weight: $gd-font-weight;
  }
}

.gd-friendships-user-thumbnail {
  width: 2rem;
  height: 2rem;
  background-color: $gd-background-color-neutral;
}
