@import '../../../../styles/mixins';

.gd-friendships {
  h2 {
    margin: 0;
    font-weight: $gd-font-weight;
    font-size: $gd-font-size-default;
  }
}

.gd-friendships-list-item {
  margin: 0 0 $gd-spacing-sm;

  a {
    font-weight: $gd-font-weight;
  }
}

.gd-friendships-list-item-thumbnail {
  &:hover {
    text-decoration: none;
  }
}
