@import '../../../styles/mixins';

:host {
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.gd-wait {
  font-size: 50px;
  color: $gd-color-neutral;
}
