@import '../../../../styles/mixins';

.gd-gift-preview {
  margin-bottom: 20px;
}

.gd-gift-preview-thumbnail {
  display: block;
  overflow: hidden;
  position: relative;
  padding-top: 1px;
  padding-left: 1px;
}
