@import '../../../../styles/mixins';

.gd-gift-preview {
  margin-bottom: $gd-spacing;

  @media (min-width: $gd-screen-sm-min) {
    margin-bottom: $gd-spacing * 2;
  }

  ::ng-deep {
    .gd-gift-priority {
      font-size: 85%;
    }

    .gd-card-wrapper {
      overflow: hidden;
      position: relative;
    }
  }
}

.app-gift-preview-user {
}

.gd-gift-preview-thumbnail {
  display: block;
  overflow: hidden;
  position: relative;
  padding-top: 1px;
  padding-left: 1px;
}
