<div class="gd-gift-preview">
  <gd-card
    [route]="{
      commands: [],
      extras: {
        queryParams: { giftId: gift.id }
      }
    }"
  >
    <gd-ribbon
      *ngIf="showDibbedRibbon"
      ribbonType="secondary"
      title="This gift has been dibbed."
    >
      <gd-icon icon="check"></gd-icon>
    </gd-ribbon>

    <gd-ribbon
      *ngIf="showDeliveredRibbon"
      ribbonType="primary"
      title="This gift has been delivered."
    >
      <gd-icon icon="box"></gd-icon>
    </gd-ribbon>

    <gd-ribbon
      *ngIf="showReceivedRibbon"
      ribbonType="primary"
      title="This gift has been received."
    >
      <gd-icon icon="box-open"></gd-icon>
    </gd-ribbon>
    <gd-card-thumbnail>
      <gd-thumbnail iconSize="2x" size="fill" [imageSource]="gift.imageUrl">
      </gd-thumbnail>
    </gd-card-thumbnail>
    <gd-card-body>
      <gd-card-heading [attr.title]="gift.name" [multiline]="false">
        {{ gift.name }}
        <ng-container *ngIf="gift.quantity > 1">
          ({{ gift.quantity }})
        </ng-container>
      </gd-card-heading>
      <div class="gd-text-price">
        ${{ gift.budget || '--' }}
        <span *ngIf="gift.quantity > 1">ea.</span>
      </div>

      <div class="app-gift-preview-user">
        <gd-media size="xs">
          <gd-media-content>
            <gd-gift-priority [priority]="gift.priority"> </gd-gift-priority>
            <time class="gd-date">
              {{ gift.dateUpdated | gdFriendlyDate }}
            </time>
          </gd-media-content>
          <gd-media-thumbnail>
            <gd-thumbnail
              iconSize="2x"
              size="fill"
              shape="circle"
              [imageSource]="gift.user.avatarUrl"
              [route]="{ commands: ['/users', gift.user.id] }"
              (click)="$event.stopPropagation()"
            ></gd-thumbnail>
          </gd-media-thumbnail>
        </gd-media>
      </div>
    </gd-card-body>
  </gd-card>
</div>
