<!-- <div class="gd-swatch gd-color-primary"></div>
<div class="gd-swatch gd-color-secondary"></div>
<div class="gd-swatch gd-color-info"></div>
<div class="gd-swatch gd-color-warning"></div>
<div class="gd-swatch gd-color-danger"></div>
<div class="gd-swatch gd-color-success"></div>
<div class="gd-swatch gd-color-neutral-darkest"></div>
<div class="gd-swatch gd-color-neutral-darker"></div>
<div class="gd-swatch gd-color-neutral-dark"></div>
<div class="gd-swatch gd-color-neutral"></div>
<div class="gd-swatch gd-color-neutral-light"></div>
<div class="gd-swatch gd-color-neutral-lighter"></div>
<div class="gd-swatch gd-color-neutral-lightest"></div> -->
<!-- <br><br> -->
<h1>
  Welcome back
</h1>

<!-- <gd-row>
  <gd-column
    screenSmall="2"
  >

  </gd-column>
</gd-row> -->
<gd-repeater>
  <gd-repeater-item *ngFor="let gift of gifts">
    <gd-gift-preview
      [gift]="gift"
    >
    </gd-gift-preview>
  </gd-repeater-item>
</gd-repeater>
