@import '../../../styles/mixins';

.gd-dibs-recipients {
}

.gd-dibs-recipient-gift {
  margin-bottom: $gd-spacing * 2;
  background-color: #fff;
  border-radius: $gd-border-radius;
}

.gd-dibs-recipient-gift-header {
  padding: $gd-spacing-padding-squish;
}

.gd-dibs-recipient-gift-body {
  padding: $gd-spacing-padding-squish;
  padding-left: 1.5rem;
  border-radius: $gd-border-radius-sm;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.gd-dibs-recipient-gift-footer {
  padding: $gd-spacing-padding-squish;
}
