@import '../../../styles/mixins';

.gd-navbar {
  background-color: #333;
  margin-bottom: $gd-spacing * 2;
}

.gd-container {
  display: flex;
}

.gd-navbar-menu {
  flex: 1 0 auto;
  display: inline-flex;
  align-items: baseline;

  > li {
    display: block;

    > a,
    ::ng-deep .gd-button-link {
      padding: 15px;
      display: block;
      color: #ddd;
      font-weight: 300;
      border: 0;

      &:focus,
      &:hover,
      &.active {
        color: #fff;
        text-decoration: underline;
      }

      &.active {
        cursor: default;
      }
    }
  }
}

.gd-navbar-menu-user {
  justify-content: flex-end;
}
