<nav
  aria-labelledby="gd-primary-nav"
  class="gd-navbar">

  <div class="gd-container">
    <h2
      class="gd-screen-reader-only"
      id="gd-primary-nav">
      Primary site navigation
    </h2>

    <ul
      class="gd-navbar-menu">
      <li *ngFor="let route of routes">
        <a
          [routerLink]="route.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          {{ route.name }}
        </a>
      </li>
    </ul>

    <ul
      class="gd-navbar-menu gd-navbar-menu-user"
      *ngIf="isLoggedIn()">
      <li>
        <a
          [routerLink]="['/users', currentUser._id]"
          routerLinkActive="active">
          {{ currentUser.firstName }}
        </a>
      </li>
      <li>
        <a
          routerLink="/dibs"
          routerLinkActive="active">
          Dibs
        </a>
      </li>
      <li>
        <a
          routerLink="/settings"
          routerLinkActive="active">
          Settings
        </a>
      </li>
      <li>
        <button
          type="button"
          class="gd-button"
          (click)="logout()">
          Log out
        </button>
      </li>
    </ul>

    <ul
      class="gd-navbar-menu gd-navbar-menu-user"
      *ngIf="!isLoggedIn()">
      <li>
        <a
          routerLink="/register"
          routerLinkActive="active">
          Sign up
        </a>
      </li>
      <li>
        <a
          routerLink="/login"
          routerLinkActive="active">
          Log in
        </a>
      </li>
    </ul>
  </div>
</nav>
