@import '../../../styles/mixins';

.gd-navbar {
  background-color: #fff;
  border-bottom: 1px solid #000;
  display: flex;
  margin-bottom: $gd-spacing * 2;
}

.gd-navbar-menu {
  flex: 1 0 auto;
  display: flex;

  > li {
    > a {
      padding: $gd-spacing;
      display: block;

      &:focus,
      &:hover,
      &.active { }

      &.active {
        cursor: default;
        text-decoration: none;
      }
    }
  }
}

.gd-navbar-menu-user {
  justify-content: flex-end;
}
