<div class="gd-navbar">
  <div class="gd-navbar-primary">
    <nav aria-label="Primay site navigation">
      <ul class="gd-navbar-menu">
        <li *ngFor="let route of routes">
          <a
            class="gd-button gd-button-link"
            [routerLink]="route.path"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            {{ route.name }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="gd-navbar-search">
    <gd-search
      *ngIf="isLoggedIn()">
    </gd-search>
  </div>
  <div class="gd-navbar-secondary">
    <nav aria-label="User navigation">
      <ul
        *ngIf="isLoggedIn()"
        class="gd-navbar-menu">
        <li>
          <a
            class="gd-button gd-button-link"
            [routerLink]="['/users', sessionUser._id]"
            routerLinkActive="active">
            {{ sessionUser.firstName }}
          </a>
        </li>
        <li>
          <a
            class="gd-button gd-button-link"
            routerLink="/dibs"
            routerLinkActive="active">
            Dibs
          </a>
        </li>
        <li>
          <a
            class="gd-button gd-button-link"
            routerLink="/account/settings"
            routerLinkActive="active">
            Settings
          </a>
        </li>
        <li>
          <button
            type="button"
            class="gd-button gd-button-link"
            (click)="logout()">
            Log out
          </button>
        </li>
      </ul>

      <ul
        *ngIf="!isLoggedIn()"
        class="gd-navbar-menu">
        <li>
          <a
            class="gd-button gd-button-link"
            routerLink="/account/register"
            routerLinkActive="active">
            Sign up
          </a>
        </li>
        <li>
          <a
            class="gd-button gd-button-link"
            routerLink="/account/login"
            routerLinkActive="active">
            Log in
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
