@import '../../../styles/mixins';

.gd-navbar {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  margin-bottom: $gd-spacing-lg;
  padding: $gd-spacing-padding-squish;
  display: flex;
  font-size: 85%;

  > * {
    flex: 0 0 auto;
  }

  ::ng-deep {
    gd-search {
      flex: 1 1 auto !important;
      padding-left: $gd-spacing-md * 2;
      padding-right: $gd-spacing-md * 2;
    }
  }
}

.gd-navbar-menu {
  flex: 1 0 auto;
  display: inline-flex;
  align-items: baseline;
  margin-left: -$gd-spacing-md;
  margin-right: -$gd-spacing-md;

  > li {

    > a,
    ::ng-deep .gd-button-link {
      color: $gd-text-color-deemphasized;

      &:focus,
      &:hover {
        color: $gd-text-color;
        text-decoration: none;
      }

      &.active {
        cursor: default;
        color: $gd-text-color;
      }
    }
  }
}

.gd-navbar-menu-user {
  justify-content: flex-end;
}
