<gd-wait *ngIf="isLoading"></gd-wait>

<div class="gd-container gd-container-lg gd-spacing-padding-even-large">
  <ng-container *ngIf="!isLoading && !gifts.length">
    <gd-notice>
      <strong>Your community hasn't created any gifts yet.</strong><br />
      <a routerLink="/profile">Create gift</a>
    </gd-notice>
  </ng-container>
  <gd-row>
    <gd-column
      *ngFor="let gift of gifts"
      [screenXSmall]="6"
      [screenSmall]="4"
      [screenMedium]="3"
      [screenLarge]="3"
    >
      <gd-gift-preview [gift]="gift" [showUserInfo]="true"> </gd-gift-preview>
    </gd-column>
  </gd-row>

  <div *ngIf="hasMore" class="app-community-show-more">
    <button
      class="gd-button gd-button-default"
      type="button"
      [disabled]="isLoading"
      (click)="loadMoreResults()"
    >
      Show more results
    </button>
  </div>
</div>
