<div class="gd-swatch gd-color-primary"></div>
<div class="gd-swatch gd-color-secondary"></div>
<div class="gd-swatch gd-color-info"></div>
<div class="gd-swatch gd-color-warning"></div>
<div class="gd-swatch gd-color-danger"></div>
<div class="gd-swatch gd-color-success"></div>
<div class="gd-swatch gd-color-neutral-darkest"></div>
<div class="gd-swatch gd-color-neutral-darker"></div>
<div class="gd-swatch gd-color-neutral-dark"></div>
<div class="gd-swatch gd-color-neutral"></div>
<div class="gd-swatch gd-color-neutral-light"></div>
<div class="gd-swatch gd-color-neutral-lighter"></div>
<div class="gd-swatch gd-color-neutral-lightest"></div>
<br><br>
<h1>
  Welcome back
</h1>

<a href="">My stuff</a>
<a href="">Following</a>
