@import '../../../../styles/mixins';

.gd-swatch {
  height: 50px;
}

.gd-color-primary {
  background-color: $gd-color-primary;
}

.gd-color-secondary {
  background-color: $gd-color-secondary;
}

.gd-color-info {
  background-color: $gd-color-info;
}

.gd-color-danger {
  background-color: $gd-color-danger;
}

.gd-color-warning {
  background-color: $gd-color-warning;
}

.gd-color-success {
  background-color: $gd-color-success;
}
