<gd-wait *ngIf="isLoading"></gd-wait>

<div class="gd-container gd-container-md gd-spacing-padding-even-large">
  <h1>Community</h1>

  <ng-container *ngIf="!isLoading && !wishLists.length">
    <gd-notice>
      <strong>Your community hasn't created any gifts yet.</strong><br />
      <a routerLink="/profile">Create gift</a>
    </gd-notice>
  </ng-container>

  <gd-row>
    <gd-column
      *ngFor="let wishList of wishLists"
      [screenXXSmall]="12"
      [screenXSmall]="6"
      [screenSmall]="4"
      [screenMedium]="3"
      [screenLarge]="2"
    >
      <gd-wish-list-preview [wishList]="wishList"> </gd-wish-list-preview>
    </gd-column>
  </gd-row>

  <div *ngIf="hasMore" class="app-community-show-more">
    <button
      class="gd-button gd-button-default"
      type="button"
      [disabled]="isLoading"
      (click)="loadMoreResults()"
    >
      Show more results
    </button>
  </div>
</div>
