@import './mixins';

.gd-button-group {
  .gd-button {
    margin-right: $gd-spacing-sm;
    margin-bottom: $gd-spacing-sm;
  }
}

.gd-button-group-block {
  margin-bottom: -$gd-spacing-sm;

  .gd-button-block,
  .gd-button-group {
    margin-bottom: $gd-spacing-sm;
  }
}

.gd-button-group-fluid {
  display: flex;
  margin-left: -$gd-spacing-xs;
  margin-right: -$gd-spacing-xs;

  .gd-button {
    flex: 1 1 auto;
    width: 1%;
    margin: 0 $gd-spacing-xs;
  }
}

.gd-button {
  @include gd_form_control();
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  color: $gd-text-color-default;
  user-select: none;
  cursor: pointer;
  font-weight: 600;

  &:disabled {
    @include gd_disabled();
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    @include gd_focus_indicator();
  }
}

.gd-button-block {
  width: 100%;
  display: block;
  text-align: center;
}

@mixin gd-button-variant($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;

  &:not(.gd-button-disabled):not(:disabled):hover {
    background-color: lighten($bg-color, 2%);
  }
}

.gd-button-default {
  @include gd-button-variant($gd-color-neutral-lighter, $gd-text-color-default);
}

.gd-button-primary {
  @include gd-button-variant($gd-color-primary, #fff);
}

.gd-button-danger {
  background-color: $gd-text-color-danger;
  color: #fff;
}

.gd-button-secondary {
  background-color: $gd-color-secondary;
  color: #fff;
}

.gd-button-link {
  background-color: transparent;
  box-shadow: none;

  &:not(.gd-button-disabled):not(:disabled):hover {
    text-decoration: underline;
    color: $gd-text-color-dark;
  }

  &:disabled,
  &.gd-button-disabled {
    box-shadow: none !important;
  }
}

.gd-button:disabled,
.gd-button-disabled {
  opacity: 0.5;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
  cursor: default;
}

.gd-button-facebook {
  @include gd-button-variant($gd-color-brand-facebook, #fff);
}

.gd-button-tab {
  background-color: transparent;
  color: $gd-text-color-deemphasized;
  border-radius: 100px;
  box-shadow: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $gd-text-color-dark;
  }
}

.gd-button-tab-selected {
  background-color: $gd-color-neutral-lighter;
  color: $gd-text-color-dark;
}

.gd-button-group-tabs {
  margin-bottom: $gd-spacing;
}
