@import 'public-variables';

$gd-font-size-default: 100% !default;
$gd-font-size-small: 90% !default;
$gd-font-size-smaller: 75% !default;
$gd-font-size-large: 1.2em !default;
$gd-font-size-larger: 1.5em !default;
$gd-font-size-xl: 2em !default;
$gd-font-size-xxl: 3em !default;

$gd-zindex-alert: 999 !default;

$gd-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
$gd-box-shadow-lg: 0 5px 150px rgba(0, 0, 0, 0.45);

$gd-border-radius-sm: 4px !default;
$gd-border-radius: $gd-border-radius-sm * 2 !default;

$gd-spacing-padding-squish: $gd-spacing-md $gd-spacing !default;
$gd-spacing-padding-squish-compact: $gd-spacing-sm $gd-spacing-md !default;
$gd-spacing-padding-squish-large: $gd-spacing $gd-spacing-xl !default;
$gd-spacing-padding-even: $gd-spacing !default;
$gd-spacing-padding-even-large: $gd-spacing-xl !default;
