@import '../../../styles/mixins';

.gd-thumbnail {
  background-color: $gd-color-neutral-lightest;
  background-size: cover;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $gd-color-neutral-lighter;
  font-weight: $gd-font-weight-light;
  white-space: nowrap;
  user-select: none;
  box-shadow: 0 0 0 1px #fff;
}

.gd-thumbnail-xs {
  width: 2rem;
  height: 2rem;
  font-size: $gd-font-size-small;
}

.gd-thumbnail-sm {
  width: 6rem;
  height: 6rem;
  font-size: $gd-font-size-xl;
}

.gd-thumbnail-md {
  width: 8rem;
  height: 8rem;
  font-size: $gd-font-size-xxl;
}

.gd-thumbnail-lg {
  width: 10rem;
  height: 10rem;
  font-size: $gd-font-size-xxl;
  letter-spacing: -0.175rem;
}
