@import '../../../styles/mixins';

.gd-thumbnail {
  background-color: $gd-background-color-neutral-light;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $gd-background-color-neutral;
  font-weight: $gd-font-weight-light;
  white-space: nowrap;
  user-select: none;
}

.gd-thumbnail-xs {
  width: 2rem;
  height: 2rem;
  font-size: $gd-font-size-small;
}

.gd-thumbnail-sm {
  width: 3.75rem;
  height: 3.75rem;
  font-size: $gd-font-size-larger;
}

.gd-thumbnail-md {
  width: 6rem;
  height: 6rem;
  font-size: $gd-font-size-xl;
}

.gd-thumbnail-lg {
  width: 10rem;
  height: 10rem;
  font-size: $gd-font-size-xxl;
  letter-spacing: -0.175rem;
}
