<gd-wait *ngIf="isLoading"></gd-wait>
<gd-modal>
  <gd-modal-header>
    <gd-modal-heading>
      <ng-template [ngIf]="!gift">
        New item
      </ng-template>
      <ng-template [ngIf]="gift">
        Edit item
      </ng-template>
    </gd-modal-heading>
  </gd-modal-header>
  <gd-modal-body>
    <form
      class="gd-form"
      novalidate
      [attr.aria-label]="(gift) ? 'Edit item' : 'New item'"
      [formGroup]="giftForm"
      (ngSubmit)="submit()"
    >
      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
          id="gd-gift-edit-name"
        >
          Item name
        </label>
        <gd-typeahead
          ariaDescribedBy="gd-gift-edit-name"
          formControlName="name"
          searchButtonText="Find online"
          [searchFunction]="findProductFunction"
          [searchOnKeyUp]="false"
          [searchResultTemplate]="searchResultTemplate"
          [searchResultAction]="searchResultAction"
        >
        </gd-typeahead>
      </gd-form-field>

      <gd-form-field>
        <label
          class="gd-control-label"
        >
          External links
        </label>
        <div formArrayName="externalUrls">
          <div *ngFor="let externalUrl of externalUrls.controls; let i = index;"
            [formGroup]="externalUrl"
          >
            <gd-form-field [errors]="errors">
              <div class="gd-input-group-inline">
                <input
                  class="gd-form-control"
                  formControlName="url"
                  placeholder="https://"
                  title="Enter link to a product"
                  type="text"
                />
                <button
                  class="gd-button gd-button-default"
                  type="button"
                  [disabled]="giftForm.disabled"
                  (click)="findImageFromUrl(i)"
                >
                  Find image
                </button>
                <button
                  class="gd-button gd-button-default"
                  title="Remove external link"
                  type="button"
                  [disabled]="giftForm.disabled"
                  (click)="removeUrl(i)"
                >
                  <gd-icon icon="trash"></gd-icon>
                </button>
              </div>

            </gd-form-field>
          </div>

          <div class="gd-button-group">
            <button
              class="gd-button gd-button-primary"
              type="button"
              [disabled]="giftForm.disabled"
              (click)="addExternalUrlField()"
            >
              <gd-icon icon="plus"></gd-icon>
              Add external link
            </button>
          </div>
        </div>
      </gd-form-field>

      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
        >
          Thumbnail
        </label>
        <gd-image-uploader
          formControlName="imageUrl"
          [allowUrl]="false"
          (selectFile)="onSelectFile($event)"
          (removeFile)="onRemoveFile()"
        >
        </gd-image-uploader>
      </gd-form-field>

      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
          for="gd-gift-edit-budget"
          title="What is the maximum amount a person should spend on this item?"
        >
          Budget
        </label>
        <span class="gd-input-group">
          <span class="gd-input-group-prepend">$</span>
          <input
            autocomplete="off"
            class="gd-form-control"
            formControlName="budget"
            id="gd-gift-edit-budget"
            type="number"
          />
          <span class="gd-input-group-append">.00</span>
        </span>
      </gd-form-field>

      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
          for="gd-gift-edit-notes"
        >
          Notes
        </label>
        <textarea
          class="gd-form-control"
          formControlName="notes"
          id="gd-gift-edit-notes"
          maxlength="2000"
          #giftNotes
        >
        </textarea>
        <gd-character-counter
          [inputReference]="giftNotes"
          maxCharacters="2000"
        >
        </gd-character-counter>
      </gd-form-field>

      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
          for="gd-gift-edit-priority"
        >
          Priority
        </label>
        <select
          class="gd-form-control"
          formControlName="priority"
          id="gd-gift-edit-priority"
        >
          <option value="5">Very high</option>
          <option value="4">High</option>
          <option value="3">Medium</option>
          <option value="2">Low</option>
          <option value="1">Very low</option>
        </select>
      </gd-form-field>

      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
          for="gd-gift-edit-quantity"
        >
          Quantity
        </label>
        <input
          autocomplete="off"
          class="gd-form-control"
          formControlName="quantity"
          id="gd-gift-edit-quantity"
          type="number"
        />
      </gd-form-field>
    </form>
  </gd-modal-body>
  <gd-modal-footer>
    <div class="gd-button-group">
      <button
        class="gd-button gd-button-primary"
        type="button"
        [disabled]="giftForm.disabled"
        (click)="submit()"
      >
        Save
      </button>
      <button
        class="gd-button gd-button-default"
        type="button"
        [disabled]="giftForm.disabled"
        (click)="onCancelClicked()"
      >
        Cancel
      </button>
    </div>
  </gd-modal-footer>
</gd-modal>

<ng-template let-result="result" #searchResultTemplate>
  <gd-media size="sm">
    <gd-media-thumbnail>
      <gd-thumbnail
        iconSize="1x"
        size="fill"
        [imageSource]="result.imageUrl"
      >
      </gd-thumbnail>
    </gd-media-thumbnail>
    <gd-media-content>
      <gd-media-header>
        <gd-media-heading>
          {{ result.name }}
        </gd-media-heading>
      </gd-media-header>
      <gd-media-body>
        <div class="gd-text-price">
          ${{ result.price }}
        </div>
      </gd-media-body>
    </gd-media-content>
    <gd-media-controls>
      <a
        class="gd-text-small"
        target="_blank"
        title="Open this product in another browser window."
        [attr.href]="result.url"
      ><gd-icon icon="external-link-alt"></gd-icon>&nbsp;Amazon.com</a>
    </gd-media-controls>
  </gd-media>
</ng-template>
