<gd-modal>
  <gd-modal-header>
    <gd-modal-heading>
      <ng-template [ngIf]="!gift">
        New item
      </ng-template>
      <ng-template [ngIf]="gift">
        Edit item
      </ng-template>
    </gd-modal-heading>
  </gd-modal-header>
  <gd-modal-body>
    <form
      class="gd-form"
      novalidate
      [attr.aria-label]="(gift) ? 'Edit item' : 'New item'"
      [formGroup]="giftForm"
      (ngSubmit)="submit()"
    >
      <gd-form-field [errors]="errors">
        <gd-image-uploader
          formControlName="imageUrl"
          (selectFile)="onSelectFile($event)"
          (removeFile)="onRemoveFile()"
        >
        </gd-image-uploader>
      </gd-form-field>

      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
          for="gd-gift-edit-name"
        >
          Item name
        </label>
        <input
          class="gd-form-control"
          formControlName="name"
          id="gd-gift-edit-name"
          type="text"
          (keydown.enter)="submit();$event.preventDefault();"
        />
      </gd-form-field>

      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
          for="gd-gift-edit-notes"
        >
          Notes
        </label>
        <textarea
          class="gd-form-control"
          formControlName="notes"
          id="gd-gift-edit-notes"
          maxlength="2000"
        >
        </textarea>
      </gd-form-field>

      <gd-form-field>
        <div formArrayName="externalUrls">
          <gd-row *ngFor="let externalUrl of externalUrls.controls; let i = index;"
            [formGroup]="externalUrl"
          >
            <gd-column screenXSmall="8">
              <gd-form-field [errors]="errors">
                <label
                  class="gd-control-label"
                  for="gd-gift-edit-external-url-url- + {{ i }}"
                >
                  URL
                </label>
                <input
                  class="gd-form-control"
                  formControlName="url"
                  id="gd-gift-edit-external-url-url- + {{ i }}"
                  type="text"
                />
              </gd-form-field>
            </gd-column>
            <gd-column screenXSmall="2">
              <gd-form-field [errors]="errors">
                <label
                  class="gd-control-label"
                  for="gd-gift-edit-external-url-price- + {{ i }}"
                >
                  Price
                </label>
                <input
                  class="gd-form-control"
                  formControlName="price"
                  id="gd-gift-edit-external-url-price- + {{ i }}"
                  type="number"
                />
              </gd-form-field>
            </gd-column>
            <gd-column screenXSmall="2">
              <gd-form-field>
                <label class="gd-control-label">&nbsp;</label>
                <div class="gd-button-group">
                  <button
                    class="gd-button gd-button-default"
                    title="Get price from URL"
                    type="button"
                    [disabled]="giftForm.disabled"
                  >
                    <gd-icon icon="sync-alt"></gd-icon>
                  </button>
                  <button
                    class="gd-button gd-button-default"
                    title="Remove URL"
                    type="button"
                    [disabled]="giftForm.disabled"
                    (click)="removeUrl(i)"
                  >
                    <gd-icon icon="trash"></gd-icon>
                  </button>
                </div>
              </gd-form-field>
            </gd-column>
          </gd-row>
          <button
            class="gd-button gd-button-default"
            type="button"
            [disabled]="giftForm.disabled"
            (click)="addExternalUrlField()"
          >
            Add external URL
          </button>
        </div>
      </gd-form-field>

      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
          for="gd-gift-edit-budget"
        >
          Budget
        </label>
        <span class="gd-input-group">
          <span class="gd-input-group-prepend">$</span>
          <input
            autocomplete="off"
            class="gd-form-control"
            formControlName="budget"
            id="gd-gift-edit-budget"
            type="number"
          />
          <span class="gd-input-group-append">.00</span>
        </span>
      </gd-form-field>

      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
          for="gd-gift-edit-priority"
        >
          Priority
        </label>
        <input
          autocomplete="off"
          class="gd-form-control"
          formControlName="priority"
          id="gd-gift-edit-priority"
          type="number"
        />
      </gd-form-field>

      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
          for="gd-gift-edit-quantity"
        >
          Quantity
        </label>
        <input
          autocomplete="off"
          class="gd-form-control"
          formControlName="quantity"
          id="gd-gift-edit-quantity"
          type="number"
        />
      </gd-form-field>
    </form>
  </gd-modal-body>
  <gd-modal-footer>
    <gd-row>
      <gd-column
        screenSmall="3"
      >
        <button *ngIf="gift"
          class="gd-button gd-button-danger"
          type="button"
          [disabled]="giftForm.disabled"
          (click)="deleteGift()"
        >
          Delete
        </button>
      </gd-column>
      <gd-column
        style="text-align:right;"
        screenSmall="9"
      >
        <div class="gd-button-group">
          <button
            class="gd-button gd-button-primary"
            type="button"
            [disabled]="giftForm.disabled"
            (click)="submit()"
          >
            Save
          </button>
          <button
            class="gd-button gd-button-default"
            type="button"
            [disabled]="giftForm.disabled"
            (click)="onCancelClicked()"
          >
            Cancel
          </button>
        </div>
      </gd-column>
    </gd-row>
  </gd-modal-footer>
</gd-modal>
