<gd-wait *ngIf="isLoading"></gd-wait>

<gd-modal>
  <gd-modal-header>
    <gd-modal-heading>
      <ng-template [ngIf]="!gift"> Add item </ng-template>
      <ng-template [ngIf]="gift"> Edit item </ng-template>
    </gd-modal-heading>
  </gd-modal-header>
  <gd-modal-body>
    <form
      *ngIf="showUrlPicker"
      class="gd-form"
      novalidate
      [formGroup]="urlPickerForm"
    >
      <gd-form-field [errors]="errors">
        <label class="gd-control-label" for="gd-gift-edit-url">
          Paste a link from anywhere on the web
        </label>
        <input
          class="gd-form-control"
          formControlName="productUrl"
          id="gd-gift-edit-url"
          type="text"
          autocomplete="off"
        />
      </gd-form-field>
    </form>

    <form
      *ngIf="!showUrlPicker"
      class="gd-form"
      novalidate
      [attr.aria-label]="gift ? 'Edit item' : 'New item'"
      [formGroup]="giftForm"
      (ngSubmit)="submit()"
    >
      <gd-row [reverseColumnOrder]="true">
        <gd-column screenXSmall="9" screenSmall="8">
          <gd-form-field [errors]="errors">
            <label class="gd-control-label" for="gd-gift-edit-name">
              Item name
            </label>
            <input
              class="gd-form-control"
              formControlName="name"
              id="gd-gift-edit-name"
              type="text"
              autocomplete="off"
            />
          </gd-form-field>

          <gd-form-field>
            <label class="gd-control-label"> External links </label>
            <div formArrayName="externalUrls">
              <div
                *ngFor="let externalUrl of externalUrls.controls; let i = index"
                [formGroup]="externalUrl"
              >
                <gd-form-field [errors]="errors">
                  <div class="gd-input-group-inline">
                    <input
                      class="gd-form-control"
                      formControlName="url"
                      placeholder="https://"
                      title="Enter link to a product"
                      type="text"
                    />
                    <button
                      class="gd-button gd-button-default"
                      type="button"
                      [disabled]="giftForm.disabled"
                      (click)="findImageFromUrl(i)"
                    >
                      Find image...
                    </button>
                    <button
                      class="gd-button gd-button-default"
                      title="Remove external link"
                      type="button"
                      [disabled]="giftForm.disabled"
                      (click)="removeUrl(i)"
                    >
                      <gd-icon icon="trash"></gd-icon>
                    </button>
                    <button
                      class="gd-button gd-button-default"
                      title="Add another external link"
                      type="button"
                      [disabled]="giftForm.disabled"
                      (click)="addExternalUrlField()"
                    >
                      <gd-icon icon="plus"></gd-icon>
                    </button>
                  </div>
                </gd-form-field>
              </div>
            </div>
          </gd-form-field>

          <gd-form-field [errors]="errors">
            <label class="gd-control-label" for="gd-gift-edit-notes">
              Notes
            </label>
            <textarea
              class="gd-form-control"
              formControlName="notes"
              id="gd-gift-edit-notes"
              maxlength="2000"
              placeholder="Sizes, color options, etc."
              #giftNotes
            >
            </textarea>
            <gd-character-counter
              [inputReference]="giftNotes"
              maxCharacters="2000"
            >
            </gd-character-counter>
          </gd-form-field>

          <gd-row>
            <gd-column screenXXSmall="12" screenXSmall="6">
              <gd-form-field [errors]="errors">
                <label class="gd-control-label" for="gd-gift-edit-priority">
                  Priority
                </label>
                <select
                  class="gd-form-control"
                  formControlName="priority"
                  id="gd-gift-edit-priority"
                >
                  <option value="5">Very high</option>
                  <option value="4">High</option>
                  <option value="3">Medium</option>
                  <option value="2">Low</option>
                  <option value="1">Very low</option>
                </select>
              </gd-form-field>
            </gd-column>
            <gd-column screenXXSmall="6" screenXSmall="4">
              <gd-form-field [errors]="errors">
                <label
                  class="gd-control-label"
                  for="gd-gift-edit-budget"
                  title="What is the maximum amount a person should spend on this item?"
                >
                  Budget
                  <gd-icon icon="question-circle"></gd-icon>
                </label>
                <input
                  autocomplete="off"
                  class="gd-form-control"
                  formControlName="budget"
                  id="gd-gift-edit-budget"
                  type="number"
                />
              </gd-form-field>
            </gd-column>
            <gd-column screenXXSmall="6" screenXSmall="2">
              <gd-form-field [errors]="errors">
                <label class="gd-control-label" for="gd-gift-edit-quantity">
                  Quantity
                </label>
                <input
                  autocomplete="off"
                  class="gd-form-control"
                  formControlName="quantity"
                  id="gd-gift-edit-quantity"
                  type="number"
                />
              </gd-form-field>
            </gd-column>
          </gd-row>
        </gd-column>
        <gd-column screenXSmall="3" screenSmall="4">
          <gd-form-field [errors]="errors">
            <label class="gd-control-label"> Thumbnail </label>
            <gd-image-uploader
              formControlName="imageUrl"
              orientation="vertical"
              [allowUrl]="false"
              (selectFile)="onSelectFile($event)"
              (removeFile)="onRemoveFile()"
            >
            </gd-image-uploader>
          </gd-form-field>
        </gd-column>
      </gd-row>
    </form>
  </gd-modal-body>
  <gd-modal-footer>
    <div class="gd-button-group">
      <ng-container *ngIf="showUrlPicker">
        <button
          class="gd-button gd-button-primary"
          type="button"
          [disabled]="urlPickerForm.disabled"
          (click)="findProductInfoFromUrl(urlPickerProductUrl.value)"
        >
          Submit
        </button>
        <div class="gd-gift-edit-url-picker-buttons-secondary">
          <button
            class="gd-button gd-button-default"
            type="button"
            [disabled]="urlPickerForm.disabled"
            (click)="skipUrlPicker()"
          >
            I don't have a link
          </button>
          <button class="gd-button" type="button" (click)="onCancelClicked()">
            Cancel
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="!showUrlPicker">
        <button
          class="gd-button gd-button-primary"
          type="button"
          [disabled]="giftForm.disabled"
          (click)="submit()"
        >
          Save
        </button>
        <button class="gd-button" type="button" (click)="onCancelClicked()">
          Cancel
        </button>
      </ng-container>
    </div>
  </gd-modal-footer>
</gd-modal>
