<div class="app-product-preview">
  <gd-card>
    <gd-card-thumbnail>
      <gd-thumbnail
        iconSize="2x"
        size="fill"
        [externalLink]="product.url"
        [imageSource]="product.imageUrl"
      >
      </gd-thumbnail>
    </gd-card-thumbnail>
    <gd-card-body>
      <gd-card-heading [multiline]="false">
        <a
          [attr.href]="product.url"
          [attr.title]="product.name"
        >{{ product.name }}</a>
      </gd-card-heading>
      <div class="gd-text-price">
        ${{ product.price }}
      </div>
    </gd-card-body>
    <gd-card-footer>
      <div class="gd-button-group">
        <button
          class="gd-button gd-button-default gd-button-block"
          type="button"
          (click)="addProductToWishList()"
        >
          Add to wish list
        </button>
      </div>
    </gd-card-footer>
  </gd-card>
  <!-- <gd-media
    size="lg"
  >
    <gd-media-thumbnail>
      <gd-thumbnail
        iconSize="2x"
        size="fill"
        [externalLink]="product.url"
        [imageSource]="product.imageUrl"
      >
      </gd-thumbnail>
    </gd-media-thumbnail>
    <gd-media-content>
      <gd-media-header>
        <gd-media-heading>
          <a [attr.href]="product.url">{{ product.name }}</a>
        </gd-media-heading>
      </gd-media-header>
      <gd-media-body>
        <div class="gd-text-price">
          ${{ product.price }}
        </div>
        <button
          class="gd-button gd-button-default"
          type="button"
          (click)="addProductToWishList()"
        >
          Add to wish list...
        </button>
      </gd-media-body>
    </gd-media-content>
  </gd-media> -->
</div>
