<div class="modal-canvas" *ngIf="gift" (click)="hideModal($event)">
  <div class="modal" (click)="$event.stopPropagation();">
    <div class="modal-header">
      <button class="btn" (click)="hideModal($event)"><i class="fa fa-close"></i></button>
      <h1 class="modal-heading">
        {{gift.name}}
      </h1>
      <h2 class="modal-subheading">
        For {{gift.recipient.name}}
      </h2>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-9">
          <div class="media" style="margin-bottom: 15px;">
            <div class="media-left">
              <div class="media-object" style="width:150px;height:150px;padding:10px;background-color:#fff;border: 1px solid #ddd;">
                <img class="img-rounded" src="{{gift.thumbnail}}">
              </div>
            </div>
            <div class="media-body">
              <h4>Don't spend more than:</h4>
              <p class="price">
                ${{gift.price}}
              </p>
              <h4>Where to buy:</h4>
              <p class="link" style="max-width:250px;">
                <a href="https://www.amazon.com/gp/product/B01GKGVIDK/ref=ox_sc_act_title_1?ie=UTF8&psc=1&smid=ATVPDKIKX0DER">https://www.amazon.com/gp/product/B01GKGVIDK/ref=ox_sc_act_title_1?ie=UTF8&psc=1&smid=ATVPDKIKX0DER</a>
              </p>
            </div>
          </div>
          <gd-gift-comments [gift]="gift"></gd-gift-comments>
        </div>
        <div class="col-3">
          <nav class="nav-buttons">
            <button class="btn btn-default btn-block"><i class="fa fa-fw fa-check"></i> Mark Received</button>
            <button class="btn btn-default btn-block"><i class="fa fa-fw fa-arrow-right"></i> Move</button>
            <button class="btn btn-default btn-block"><i class="fa fa-fw fa-copy"></i> Copy</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>