<div class="comments">
  <h1 class="comments-heading">
    Comments
  </h1>
  <div *ngIf="gift.comments.length">
    <div class="media" *ngFor="let comment of gift.comments">
      <div class="media-left">
        <div class="media-object">
          <img class="img-circle" src="{{comment.user.thumbnail}}">
        </div>
      </div>
      <div class="media-body">
        <h1 class="media-heading">
          {{comment.user.firstName}} {{comment.user.lastName}}
        </h1>
        <div class="card">
          {{comment.body}}
        </div>
      </div>
    </div>
  </div>
  <div class="media">
    <div class="media-left">
      <div class="media-object">
        <img class="img-circle" src="{{sessionUser.thumbnail}}">
      </div>
    </div>
    <div class="media-body">
      <div class="card">
        <textarea class="form-control" placeholder="Write a comment..."></textarea>
      </div>
    </div>
  </div>
</div>