<gd-runway>
  <gd-bucket *ngFor="let list of user.lists" [isDisabled]="list.isPrivate">
    <gd-bucket-header [bucketTitle]="list.name">
    </gd-bucket-header>
    <gd-bucket-body>
      <gd-card *ngFor="let gift of list.gifts" (click)="viewGift(gift)">
        <gd-media [mediaTitle]="gift.name" [imageSrc]="gift.thumbnail">
          <gd-price-tag>{{gift.price}}</gd-price-tag>
          <gd-media-details *ngIf="gift.comments.length > 0">
            <i class="fa fa-comment-o"></i>&nbsp;{{gift.comments.length}}
          </gd-media-details>
        </gd-media>
      </gd-card>
      <gd-card-composer></gd-card-composer>
    </gd-bucket-body>
  </gd-bucket>
</gd-runway>

<gd-runway>
  <gd-bucket *ngIf="user.dibs">
    <gd-bucket-header bucketTitle="My Dibs">
      <span class="badge badge-danger">{{user.dibs.length}}</span>
    </gd-bucket-header>
    <gd-bucket-body>
      <gd-card *ngFor="let dib of user.dibs">
        <gd-media [mediaTitle]="dib.gift.name" [imageSrc]="dib.gift.thumbnail">
          <h2>
            For {{dib.gift.recipient.name}}
          </h2>
          <gd-price-tag>{{dib.gift.price}}</gd-price-tag>
        </gd-media>
      </gd-card>
    </gd-bucket-body>
  </gd-bucket>

  <gd-bucket>
    <gd-bucket-header bucketTitle="Following">
      <span class="badge">{{user.following.length}}</span>
    </gd-bucket-header>
    <gd-bucket-body>
      <gd-card *ngFor="let friend of user.following">
        <gd-media [mediaTitle]="friend.firstName + ' ' + friend.lastName" [imageSrc]="friend.thumbnail">
        </gd-media>
      </gd-card>
    </gd-bucket-body>
  </gd-bucket>

  <gd-bucket>
    <gd-bucket-header bucketTitle="Followers">
      <span class="badge">{{user.followers.length}}</span>
    </gd-bucket-header>
    <gd-bucket-body>
      <gd-card *ngFor="let friend of user.followers">
        <gd-media [mediaTitle]="friend.firstName + ' ' + friend.lastName" [imageSrc]="friend.thumbnail">
        </gd-media>
      </gd-card>
    </gd-bucket-body>
  </gd-bucket>
</gd-runway>

<gd-gift-modal [gift]="selectedGift"></gd-gift-modal>