<div class="profile-page">
  <div class="profile-header page-header">
    <h1 class="page-header-heading">
      {{user.firstName}} {{user.lastName}}
    </h1>
    <h4 class="page-header-subheading">
      <i class="fa fa-birthday-cake"></i> {{user.birthday}}
    </h4>
    <!--<nav class="page-header-nav">
      <ul class="menu menu-inline">
        <li>
          <a [routerLink]="['/users', user.id]" routerLinkActive="active">Lists</a>
        </li>
        <li>
          <a href="">Dibs</a>
        </li>
        <li>
          <a href="">Friends</a>
        </li>
      </ul>
    </nav>-->
  </div>
  <div class="profile-body">
    <gd-profile-owner [user]="user" [selectedGift]="selectedGift" *ngIf="isSessionUser()"></gd-profile-owner>
    <gd-profile-visitor [user]="user" [selectedGift]="selectedGift" *ngIf="!isSessionUser()"></gd-profile-visitor>
  </div>
</div>