<gd-modal>
  <gd-modal-header>
    <gd-modal-heading>
      Who can view this list?
    </gd-modal-heading>
  </gd-modal-header>
  <gd-modal-body>
    <form
      *ngIf="choices"
      class="gd-form"
      aria-label="Select users"
      [formGroup]="usersForm"
      (ngSubmit)="save()"
      novalidate>
      <gd-checklist
        [choices]="choices"
        formControlName="friends">
      </gd-checklist>
    </form>
  </gd-modal-body>
  <gd-modal-footer>
    <div class="gd-button-group">
      <button
        type="button"
        class="gd-button gd-button-primary"
        [disabled]="usersForm.disabled"
        (click)="save()">
        Choose
      </button>
      <button
        class="gd-button gd-button-default"
        type="button"
        [disabled]="usersForm.disabled"
        (click)="onCancelClicked()"
      >
        Cancel
      </button>
    </div>
  </gd-modal-footer>
</gd-modal>
