<div
  class="gd-search">
  <gd-typeahead
    placeholder="Find someone"
    [ariaDescribedBy]="'gd-search-a11y-description-' + elementId"
    [searchFunction]="searchFunction"
    [searchResultTemplate]="searchResultTemplate"
    [searchResultAction]="searchResultAction"
  >
  </gd-typeahead>
</div>

<div
  class="gd-screen-reader-only"
  id="gd-search-a11y-description-{{ elementId }}"
>
  When search results are found, use the up and down arrow keys to review, and the enter key to select.
</div>

<ng-template let-result="result" #searchResultTemplate>
  <gd-media size="xs">
    <gd-media-thumbnail>
      <gd-thumbnail
        size="fill"
        shape="circle"
        [imageSource]="result.avatarUrl"
      >
      </gd-thumbnail>
    </gd-media-thumbnail>
    <gd-media-content>
      <gd-media-header>
        <gd-media-heading>
          {{ result.firstName }} {{ result.lastName }}
        </gd-media-heading>
      </gd-media-header>
    </gd-media-content>
  </gd-media>
</ng-template>
