@import '../../../styles/mixins';

.gd-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: -$gd-spacing-lg;
  margin-right: -$gd-spacing-lg;
  flex-direction: row;

  &.gd-row-reverse {
    @media (min-width: $gd-screen-sm-min) {
      flex-direction: row-reverse;
    }
  }
}
