@import '../../../styles/mixins';

.gd-card-thumbnail {
  margin-bottom: $gd-spacing-md;
  display: flex;
  // background-color: $gd-color-neutral-lightest;
  // align-items: center;
  // justify-content: center;
  // white-space: nowrap;
  // user-select: none;
  // border-radius: $gd-border-radius-sm;
  // overflow: hidden;
}
