@import '../../../styles/mixins';

.gd-card {
  // margin: -$gd-spacing-md;
}

.gd-card-wrapper {
  padding: $gd-spacing-md;
}

.gd-card-anchor {
  display: block;
  border-radius: $gd-border-radius-sm;

  &:hover {
    text-decoration: none;
  }
}

.gd-card-button {
  cursor: pointer;
}
