@import '../../styles/_variables';

.alert {
  padding: 10px 20px;
  color: #fff;
  background-color: $font-color;
  font-weight: 100;
  margin: 0;
}

.error {
  background-color: red;
}

.success {
  background-color: $font-color;
}
