@import '../../styles/_variables';

.app-button {
  background-color: $background-color-primary;
  color: #fff;
  padding: .5rem .75rem .4rem;
  border: none;
  border-bottom: .1rem solid darken($background-color-primary, 8%);
  cursor: pointer;
  line-height: $line-height-reduced;
  font-weight: $font-weight;
  display: inline-block;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &[disabled] {
    opacity: .5;
    cursor: default;
  }
}
