@import '../../styles/_variables';

.app-button {
  color: $font-color;
  padding: .5rem .75rem;
  border: 1px solid transparent;
  border-bottom-width: .1rem;
  border-radius: $border-radius;
  cursor: pointer;
  line-height: $line-height-reduced;
  font-weight: $font-weight;
  display: inline-block;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;

  &[disabled] {
    opacity: .5;
    cursor: default;
  }

  &.app-button-block {
    width: 100%;
    display: block;
  }

  &.app-button-default {
    border-color: $border-color-grey;
    border-bottom-color: darken($border-color-grey, 8%);
    background-color: white;
  }

  &.app-button-primary {
    background-color: $background-color-primary;
    border-bottom-color: darken($background-color-primary, 8%);
    color: #fff;
  }

  &.app-button-danger {
    color: #fff;
    background-color: red;
  }
}
