<form
  [formGroup]="formModel"
  (ngSubmit)="onSubmit()"
  novalidate>

  <gd-form-field
    label="Quantity"
    [serverErrors]="errors">
    <input
      gdInput
      type="number"
      formControlName="quantity">
  </gd-form-field>

  <gd-form-field
    label="Price paid"
    [serverErrors]="errors">
    <input
      gdInput
      type="number"
      formControlName="pricePaid">
  </gd-form-field>

  <gd-form-field
    label="Notes"
    [serverErrors]="errors">
    <textarea
      gdInput
      formControlName="notes">
    </textarea>
  </gd-form-field>

  <gd-form-field
    [serverErrors]="errors">
    <label>
      <input
        type="checkbox"
        formControlName="isDelivered">
        Delivered
    </label>
  </gd-form-field>

  <gd-button-container>
    <button
      gdButton="primary"
      type="submit"
      [disabled]="isLoading"
      (click)="onSubmit()">
      Save changes
    </button>

    <button
      gdButton
      type="button"
      [disabled]="isLoading"
      (click)="onCancel.emit()">
      Cancel
    </button>
  </gd-button-container>
</form>
