<div>
  <div>
    {{ numRemaining }} remaining
  </div>

  <div *ngFor="let dib of dibs">
    <div *ngIf="isDibOwnedByCurrentUser(dib)">
      You
      <span *ngIf="dib.dateDelivered">
        delivered ({{ dib.quantity }}) on {{ dib.dateDelivered | date }}
      </span>
      <span *ngIf="!dib.dateDelivered">
        dibbed ({{ dib.quantity }}) on {{ dib.dateUpdated | date }}
      </span>
      <button
        gdButton
        type="button"
        (click)="activeDib = dib">
        Edit
      </button>
      <button
        gdButton
        type="button"
        [disabled]="isLoading"
        (click)="removeDib(dib)">
        Remove
      </button>
    </div>

    <div *ngIf="!isDibOwnedByCurrentUser(dib)">
      <span>{{ dib._user.firstName }} {{ dib._user.lastName }}</span>
      <span *ngIf="dib.dateDelivered">
        delivered ({{ dib.quantity }}) on {{ dib.dateDelivered | date }}
      </span>
      <span *ngIf="!dib.dateDelivered">
        dibbed ({{ dib.quantity }}) on {{ dib.dateUpdated | date }}
      </span>
    </div>
  </div>

  <div *ngIf="!isDibbedByCurrentUser">
    <button
      gdButton="primary"
      type="button"
      [disabled]="isLoading"
      (click)="createDib()">
      Dib this
    </button>
  </div>
</div>

<gd-modal *ngIf="activeDib">
  <h1>
    Edit dib
  </h1>

  <app-dib-edit
    [dib]="activeDib"
    (onSuccess)="onEditSuccess($event)"
    (onError)="onEditError($event)"
    (onCancel)="activeDib = undefined">
  </app-dib-edit>
</gd-modal>
