<div>
  <div>
    {{ numRemaining }} remaining
  </div>
  <div *ngFor="let dib of dibs">

    <div *ngIf="isDibOwnedByCurrentUser(dib)">
      You
      <span *ngIf="dib.isDelivered">delivered</span>
      <span *ngIf="!dib.isDelivered">dibbed</span>
      ({{ dib.quantity }}) on {{ dib.dateUpdated|date }}
      <app-button
        (click)="activeDib = dib">
        Edit
      </app-button>
      <app-button
        [disabled]="isLoading"
        (click)="removeDib(dib)">
        Remove
      </app-button>
    </div>

    <div *ngIf="!isDibOwnedByCurrentUser(dib)">
      <span>{{ dib._user.firstName }} {{ dib._user.lastName }}</span>
      <span *ngIf="dib.isDelivered">delivered</span>
      <span *ngIf="!dib.isDelivered">dibbed</span>
      ({{ dib.quantity }}) on {{ dib.dateUpdated|date }}
    </div>

  </div>

  <div *ngIf="!isDibbedByCurrentUser">
    <app-button
      [disabled]="isLoading"
      (click)="createDib()">
      Dib this
    </app-button>
  </div>
</div>

<app-modal *ngIf="activeDib">
  <app-dib-edit
    [dib]="activeDib"
    (onSuccess)="onEditSuccess($event)"
    (onError)="onEditError($event)"
    (onCancel)="activeDib = undefined">
  </app-dib-edit>
</app-modal>
