<h1>
  Edit dib
</h1>

<form [formGroup]="formModel" (ngSubmit)="onSubmit()" novalidate>
  <app-form-group label="Quantity" [serverErrors]="errors">
    <input type="number" formControlName="quantity">
  </app-form-group>

  <app-form-group label="Price paid" [serverErrors]="errors">
    <input type="number" formControlName="pricePaid">
  </app-form-group>

  <app-form-group [serverErrors]="errors">
    <label><input type="checkbox" formControlName="isDelivered"> Delivered</label>
  </app-form-group>

  <app-button
    type="submit"
    [disabled]="isLoading"
    (click)="onSubmit()">
    Save changes
  </app-button>

  <app-button
    [disabled]="isLoading"
    (click)="onCancel.emit()">
    Cancel
  </app-button>
</form>
