<div
  class="gd-email-verification-alert"
  *ngIf="!currentUser?.emailAddressVerified">

  <p>
    You'll need to verify your email address before you can follow someone or dib their gifts.
  </p>

  <p>
    <button
      gdButton
      type="button"
      [disabled]="isLoading"
      (click)="sendVerificationEmail()">
      Resend verification email
    </button> (Did you check your spam folder?)
  </p>

  <p>
    <strong>{{ currentUser?.emailAddress }}</strong> <a routerLink="/settings">Edit email address...</a>
  </p>
</div>
