@import '../../styles/_variables';

.app-form-group {
  display: flex;
  flex-direction: column;
  margin: 0 0 .65rem;
}

.app-form-group-label {
  line-height: $line-height-reduced;
  margin-bottom: .25rem;
}

.has-error {
  label,
  .app-form-group-alert {
    color: red;
  }
}

/deep/
.has-error {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"] {
    border-color: red;
  }
}
