<h1>
  Edit gift
</h1>

<div *ngIf="isLoading">
  Loading...
</div>

<form *ngIf="!isLoading" [formGroup]="giftForm" (ngSubmit)="updateGift()" novalidate>
  <app-form-group label="Name" [serverErrors]="errors">
    <input type="text" formControlName="name">
  </app-form-group>

  <app-form-group label="Budget" [serverErrors]="errors">
    <input type="number" formControlName="budget">
  </app-form-group>

  <app-form-group label="Priority" [serverErrors]="errors">
    <input type="number" formControlName="priority">
  </app-form-group>

  <app-form-group label="Quantity" [serverErrors]="errors">
    <input type="number" formControlName="quantity">
  </app-form-group>

  <div formArrayName="externalUrls">
    <label>Product URLs</label>
    <app-row
      *ngFor="let externalUrl of giftForm.controls.externalUrls.controls; let i = index;"
      [formGroup]="externalUrl">
      <app-column screenXSmall="10">
        <app-form-group [serverErrors]="errors">
          <input type="text" formControlName="url">
        </app-form-group>
      </app-column>
      <app-column screenXSmall="2">
        <app-button fullWidth="true" (click)="removeUrl(i)" [disabled]="isLoading">Remove</app-button>
      </app-column>
    </app-row>
    <p>
      <app-button (click)="addExternalUrlField()">Add another URL</app-button>
    </p>
  </div>

  <app-button styleType="primary" type="submit" [disabled]="isLoading">Save changes</app-button>
  <app-button (click)="onCancel.emit($event)" [disabled]="isLoading">Cancel</app-button>
</form>
