<div class="gd-gift-create">
  <form
    [formGroup]="giftForm"
    (ngSubmit)="createGift()"
    novalidate>
    <gd-form-field
      label="Add a new gift"
      [serverErrors]="errors">
      <textarea
        gdInput
        formControlName="name"
        placeholder="URL or name"
        (keyup)="onKeyUp($event)"
        #nameInput>
      </textarea>
    </gd-form-field>
    <button
      gdButton
      type="submit"
      [disabled]="isLoading">
      Add gift
    </button>
  </form>
</div>
