<h1>
  Edit gift
</h1>

<div *ngIf="isLoading">
  Loading...
</div>

<form *ngIf="!isLoading" [formGroup]="giftForm" (ngSubmit)="updateGift()" novalidate>
  <gd-form-field label="Name" [serverErrors]="errors">
    <input type="text" formControlName="name">
  </gd-form-field>

  <gd-form-field label="Budget" [serverErrors]="errors">
    <input type="number" formControlName="budget">
  </gd-form-field>

  <gd-form-field label="Priority" [serverErrors]="errors">
    <input type="number" formControlName="priority">
  </gd-form-field>

  <gd-form-field label="Quantity" [serverErrors]="errors">
    <input type="number" formControlName="quantity">
  </gd-form-field>

  <div formArrayName="externalUrls">
    <label>Product URLs</label>
    <gd-row
      *ngFor="let externalUrl of giftForm.controls.externalUrls.controls; let i = index;"
      [formGroup]="externalUrl">
      <gd-column screenXSmall="10">
        <gd-form-field [serverErrors]="errors">
          <input gdInput type="text" formControlName="url">
        </gd-form-field>
      </gd-column>
      <gd-column screenXSmall="2">
        <button
          gdButton
          type="button"
          (click)="removeUrl(i)"
          [disabled]="isLoading">
          Remove
        </button>
      </gd-column>
    </gd-row>
    <p>
      <button (click)="addExternalUrlField()">Add URL</button>
    </p>
  </div>

  <button gdButton type="submit" [disabled]="isLoading">Save changes</button>
  <button gdButton type="button" (click)="onCancel.emit($event)" [disabled]="isLoading">Cancel</button>
</form>
