<div class="gd-wish-list-create">
  <p *ngIf="!isActive">
    <button
      gdButton
      type="button"
      (click)="toggleIsActive()">
      Create a wish list
    </button>
  </p>

  <gd-card *ngIf="isActive">
    <gd-card-title>
      Create a wish list
    </gd-card-title>
    <gd-card-body>
      <form
        [formGroup]="wishListForm"
        (ngSubmit)="createWishList()"
        novalidate>
        <gd-form-field
          label="Wish list name"
          [serverErrors]="errors">
          <input
            gdInput
            type="text"
            formControlName="name"
            #nameInput>
        </gd-form-field>

        <button
          gdButton="primary"
          type="submit"
          [disabled]="isLoading">
          Create
        </button>

        <button
          gdButton
          type="button"
          (click)="toggleIsActive()"
          [disabled]="isLoading">
          Cancel
        </button>
      </form>
    </gd-card-body>
  </gd-card>
</div>
