<div class="gd-wish-list-create">
  <p *ngIf="!isActive">
    <button
      gdButton
      type="button"
      (click)="toggleIsActive()">
      Create a wish list
    </button>
  </p>

  <div *ngIf="isActive">
    <form
      [formGroup]="wishListForm"
      (ngSubmit)="createWishList()"
      novalidate>
      <gd-form-field
        label="New wish list"
        [serverErrors]="errors">
        <input
          gdInput
          type="text"
          formControlName="name"
          #nameInput>
      </gd-form-field>

      <button
        gdButton
        type="submit"
        [disabled]="isLoading">
        Create
      </button>

      <button
        gdButton
        type="button"
        (click)="toggleIsActive()"
        [disabled]="isLoading">
        Cancel
      </button>
    </form>
  </div>
</div>
