<h1>
  Edit wish list
</h1>

<form
  [formGroup]="wishListForm"
  (ngSubmit)="updateWishList()"
  novalidate>

  <gd-form-field
    label="Name"
    [serverErrors]="errors">
    <input
      gdInput
      type="text"
      formControlName="name">
  </gd-form-field>

  <gd-button-container>
    <button
      gdButton="primary"
      type="submit"
      [disabled]="isLoading">
      Save
    </button>

    <button
      gdButton
      type="button"
      (click)="onCancel.emit()"
      [disabled]="isLoading">
      Cancel
    </button>
  </gd-button-container>
</form>
