<gd-wait *ngIf="isLoading"></gd-wait>

<div
  class="gd-user"
  [gdHideUntil]="user"
>
  <ng-template [ngIf]="user">
    <div class="app-user-header gd-spacing-padding-even-large">
      <div class="gd-container gd-container-sm">
        <gd-media size="md">
          <gd-media-content>
            <gd-media-header>
              <h1 class="app-user-header-heading">
                {{ user.firstName }} {{ user.lastName }}
              </h1>
            </gd-media-header>
            <gd-media-body>
              <gd-friendships
                [user]="user"
              >
              </gd-friendships>
            </gd-media-body>
          </gd-media-content>
          <gd-media-thumbnail>
            <gd-thumbnail
              iconSize="2x"
              shape="circle"
              size="fill"
              [imageSource]="user.avatarUrl"
            >
            </gd-thumbnail>
          </gd-media-thumbnail>
        </gd-media>
        <div class="app-user-header-controls">
          <gd-follow-button
            [friendId]="user.id"
          >
          </gd-follow-button>
        </div>
        <div class="app-user-header-tabs gd-button-group gd-button-group-tabs">
          <button
            class="gd-button gd-button-tab"
            type="button"
            [ngClass]="{
              'gd-button-tab-selected': !isArchivedViewActive
            }"
            (click)="showActive()"
          >
            Wish lists
          </button>
          <button
            class="gd-button gd-button-tab"
            type="button"
            [ngClass]="{
              'gd-button-tab-selected': isArchivedViewActive
            }"
            (click)="showArchived()"
          >
            Archived
          </button>
        </div>
      </div>
    </div>

    <div class="gd-container">
      <ng-container *ngTemplateOutlet="wishListsTemplate;context:wishLists">
      </ng-container>
    </div>
  </ng-template>
</div>

<ng-template let-wishLists="wishLists" #wishListsTemplate>
  <gd-row>
    <gd-column *ngIf="isSessionUser && !isArchivedViewActive"
      [screenXXSmall]="12"
      [screenSmall]="4"
      [screenMedium]="4"
      [screenLarge]="3"
    >
      <div class="app-user-wish-list-create-button">
        <gd-card
          (actionClick)="openWishListEditModal()"
        >
          <gd-card-thumbnail class="app-user-wish-list-create-button-thumbnail">
            <gd-thumbnail
              size="fill"
              icon="none"
              iconSize="inherit"
            >
              <gd-icon-stack>
                <gd-icon
                  icon="circle fas fa-stack-2x"
                  iconStyle="success"
                ></gd-icon>
                <gd-icon
                  icon="plus fas fa-stack-1x fa-inverse"
                ></gd-icon>
              </gd-icon-stack>
            </gd-thumbnail>
          </gd-card-thumbnail>
          <gd-card-body>
            <gd-card-heading>
              <span class="gd-text-deemphasized">New wish list</span>
            </gd-card-heading>
          </gd-card-body>
        </gd-card>
      </div>
    </gd-column>

    <gd-column *ngFor="let wishList of wishLists"
      [screenXXSmall]="12"
      [screenSmall]="4"
      [screenMedium]="4"
      [screenLarge]="3"
    >
      <gd-wish-list-preview
        [wishList]="wishList"
        (removed)="onWishListRemoved(wishList.id)"
      >
      </gd-wish-list-preview>
    </gd-column>
  </gd-row>
</ng-template>
