<div
  class="gd-user"
  [gdHideUntil]="!isLoading"
>
  <ng-template [ngIf]="user">
    <div class="gd-user-header gd-container">
      <gd-media>
        <gd-media-content>
          <gd-media-header>
            <h1>
              {{ user.firstName }} {{ user.lastName }}
            </h1>
          </gd-media-header>
          <gd-media-body>
            <gd-follow-button [friend]="user">
            </gd-follow-button>
          </gd-media-body>
        </gd-media-content>
        <gd-media-thumbnail>
          <gd-thumbnail size="lg">
          </gd-thumbnail>
        </gd-media-thumbnail>
      </gd-media>
    </div>

    <div class="gd-board" [style.width]="boardWidth + 'px'">
      <ng-container *ngTemplateOutlet="wishListsTemplate">
      </ng-container>

      <div
        *ngIf="isSessionUser"
        class="gd-board-item"
      >
        <div
          [ngClass]="{
            'gd-user-wish-list-create-form-active': isWishListFormActive
          }"
        >
          <gd-card>
            <button
              aria-controls="gd-user-wish-list-create-form"
              type="button"
              class="gd-button gd-button-primary gd-button-block gd-user-wish-list-create-button"
              [attr.aria-expanded]="isWishListFormActive"
              (click)="onShowWishListButtonClick()"
              #showWishListFormButton
            >
              Create a new list...
            </button>
            <gd-card-body *ngIf="isWishListFormActive">
              <div
                id="gd-user-wish-list-create-form"
                class="gd-user-wish-list-create-form"
              >
                <gd-wish-list-create
                  (cancelled)="onWishListFormCancelled()"
                  (saved)="onWishListFormSaved($event)"
                >
                </gd-wish-list-create>
              </div>
            </gd-card-body>
          </gd-card>
        </div>
      </div>
    </div>
    <div class="gd-container-fluid">
      <gd-friendships
        [user]="user">
      </gd-friendships>
    </div>
  </ng-template>
</div>

<ng-template #wishListsTemplate>
  <div *ngFor="let wishList of wishLists"
    class="gd-board-item"
  >
    <gd-wish-list-preview
      [wishList]="wishList"
      (removed)="onWishListRemoved(wishList._id)"
    >
    </gd-wish-list-preview>
  </div>
</ng-template>
