<div
  class="gd-user"
  [gdHideUntil]="!isLoading">

  <ng-template [ngIf]="user">
    <div class="gd-user-header gd-container">
      <gd-media>
        <gd-media-content>
          <gd-media-header>
            <h1>
              {{ user.firstName }} {{ user.lastName }}
            </h1>
          </gd-media-header>
          <gd-media-body>
            <gd-follow-button
              [friend]="user">
            </gd-follow-button>
          </gd-media-body>
        </gd-media-content>
        <gd-media-thumbnail>
          <gd-user-thumbnail
            [user]="user"
            size="lg">
          </gd-user-thumbnail>
        </gd-media-thumbnail>
      </gd-media>
    </div>

    <div class="gd-container-fluid">
      <gd-row>
        <gd-column screenSmall="3">
          <gd-friendships
            [user]="user">
          </gd-friendships>
        </gd-column>
        <gd-column screenSmall="9">
          <ng-container
            *ngTemplateOutlet="(isSessionUser) ? sessionUserTemplate : userTemplate">
          </ng-container>
        </gd-column>
      </gd-row>
    </div>
  </ng-template>
</div>

<ng-template #sessionUserTemplate>
  <button
    type="button"
    class="gd-button gd-button-default">
    <i class="fa fa-list" aria-hidden="true"></i>
    New list
  </button>
</ng-template>

<ng-template #userTemplate>
  Non-session user
</ng-template>
