@import '../../../styles/mixins';

.gd-user {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  bottom: 0;
  top: 64px;
}

.gd-user-header {

}

.gd-user-wish-list-create-form {
  display: none;
}

.gd-user-wish-list-create-form-active {
  .gd-user-wish-list-create-button {
    display: none;
  }

  .gd-user-wish-list-create-form {
    display: block;
  }
}

$gd-board-item-size: 450px;

.gd-board {
  display: flex;
  flex: 1 0 auto;
  padding: $gd-spacing $gd-spacing-md $gd-spacing-xl;
  overflow-x: auto;
}

.gd-board-item {
  width: $gd-board-item-size;
  flex: 0 0 $gd-board-item-size;
  padding: 0 $gd-spacing-md;
}
