@import '../../../styles/mixins';

.app-user-wish-list-create-button {
  margin-bottom: $gd-spacing;
}

.app-user-wish-list-create-button-thumbnail {
  height: 140px;
  display: block;
  margin-bottom: $gd-spacing;
}

.gd-user-header-heading {
  margin-bottom: $gd-spacing-sm;
}

.gd-user-header-controls {
  text-align: right;
}

.gd-user-header-tabs {
  margin-top: $gd-spacing;
}
