<h1>
  Password recovery
</h1>

<p>
  Enter the email address you used to register. We will send you a link to reset your password.
</p>

<form
  [formGroup]="forgottenForm"
  (ngSubmit)="requestLink()"
  novalidate>

  <gd-form-field
    label="Email address"
    [serverErrors]="errors">
    <input
      gdInput
      type="email"
      formControlName="emailAddress">
  </gd-form-field>

  <button
    gdButton
    type="submit"
    [disabled]="isLoading">
    Submit request
  </button>
</form>
