<div *ngIf="!isSessionUser"
  class="gd-dibs-summary"
>
  <p *ngIf="gift.dateReceived else controlsTemplate">
    This gift was delivered by...
  </p>

  <ng-template #controlsTemplate>
    <p>
      {{ numRemaining }} available
    </p>
    <gd-repeater>
      <ng-template ngFor let-dib [ngForOf]="gift.dibs">
        <gd-repeater-item *ngIf="isDibOwnedBySessionUser(dib)">
          You
          <span *ngIf="dib.dateDelivered">
            delivered ({{ dib.quantity }}) on {{ dib.dateDelivered | date }}
          </span>
          <span *ngIf="!dib.dateDelivered">
            dibbed ({{ dib.quantity }}) at ${{ dib.pricePaid }} ea. on {{ dib.dateUpdated | date }}
          </span>
          <gd-repeater-controls>
            <button
              class="gd-button gd-button-primary"
              type="button"
              [disabled]="isLoading"
              (click)="openDibModal(dib)"
            >
              Edit
            </button>
            <button
              class="gd-button gd-button-default"
              type="button"
              [disabled]="isLoading"
              (click)="removeDib(dib)"
            >
              Remove
            </button>
          </gd-repeater-controls>
        </gd-repeater-item>
        <gd-repeater-item *ngIf="!isDibOwnedBySessionUser(dib)">
          <span>{{ dib.user.firstName }} {{ dib.user.lastName }}</span>
          <span *ngIf="dib.dateDelivered">
            delivered ({{ dib.quantity }}) on {{ dib.dateDelivered | date }}
          </span>
          <span *ngIf="!dib.dateDelivered">
            dibbed ({{ dib.quantity }}) on {{ dib.dateUpdated | date }}
          </span>
        </gd-repeater-item>
      </ng-template>
    </gd-repeater>
    <div *ngIf="!isDibbedBySessionUser">
      <button
        class="gd-button gd-button-primary"
        type="button"
        [disabled]="isLoading"
        (click)="openDibModal()"
      >
        <gd-icon icon="hand-paper"></gd-icon>
        Dib this
      </button>
    </div>
  </ng-template>
</div>
