@import '../../../../styles/mixins';

.gd-user-header {
  margin-bottom: $gd-spacing-lg;
}

.gd-user-wish-list-create-form {
  display: none;
}

.gd-user-wish-list-create-form-active {
  .gd-user-wish-list-create-button {
    display: none;
  }

  .gd-user-wish-list-create-form {
    display: block;
  }
}
