<gd-row>
  <gd-column screenSmall="2">
    <nav *ngIf="user">
      <ul>
        <li
          *ngFor="let wishList of wishLists">
          <a
            [routerLink]="['/wish-lists', wishList._id]"
            routerLinkActive="active">
            {{ wishList.name }}
          </a>
        </li>
      </ul>
    </nav>
  </gd-column>
  <gd-column screenSmall="10">
    <div *ngIf="wishList">
      <h4>
        <a [routerLink]="['/users', user._id]">
          {{ user.firstName }} {{ user.lastName }}
        </a>
      </h4>
      <h1>
        {{ wishList.name }}
      </h1>

      <app-gift-create-form
        *ngIf="isCurrentUser"
        [wishListId]="wishListId"
        (onSuccess)="onGiftCreateSuccess()">
      </app-gift-create-form>

      <div dragula="bag-one" [dragulaModel]="gifts">
        <gd-card *ngFor="let gift of gifts">
          <gd-card-title>
            <del *ngIf="gift.isReceived">{{ gift.name }}</del>
            <span *ngIf="!gift.isReceived">{{ gift.name }}</span>
          </gd-card-title>
          <gd-card-body>

            <div *ngIf="!gift.isReceived">
              <div *ngIf="gift.budget">
                Budget: ${{ gift.budget }}
              </div>
              <div *ngIf="gift.priority">
                Priority: {{ gift.priority }}
              </div>
              <div>
                Quantity: {{ gift.quantity }}
              </div>
              <div>
                Order: {{ gift.orderInWishList }}
              </div>
            </div>

            <div *ngIf="gift.externalUrls && !gift.isReceived">
              <gd-row *ngFor="let externalUrl of gift.externalUrls">
                <gd-column screenXSmall="10" screenSmall="11">
                  <a style="max-width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:block;" href="{{ externalUrl.url }}">{{ externalUrl.url }}</a>
                </gd-column>
                <gd-column screenXSmall="2" screenSmall="1">
                  <app-gift-external-url-price
                    [gift]="gift"
                    [externalUrl]="externalUrl">
                  </app-gift-external-url-price>
                </gd-column>
              </gd-row>
            </div>

          </gd-card-body>

          <gd-card-footer>
            <div *ngIf="isCurrentUser">
              <button gdButton type="button" (click)="toggleReceived(gift)">
                <span *ngIf="!gift.isReceived">Mark received</span>
                <span *ngIf="gift.isReceived === true">Undo received</span>
              </button>
              <span *ngIf="!gift.isReceived">
                <button gdButton type="button" (click)="activeGift = gift">Edit</button>
                <button gdButton type="button" (click)="deleteGift(gift._id)">Delete</button>
              </span>
              <div class="gd-drag-handle">
                (Drag)
              </div>
            </div>

            <app-dib-controls
              *ngIf="!isCurrentUser && dibs"
              [gift]="gift"
              [dibs]="filterDibsByGiftId(gift._id)"
              (onChanges)="onDibChanges($event)"
              (onError)="onDibError($event)">
            </app-dib-controls>
          </gd-card-footer>
        </gd-card>
      </div>

      <app-modal *ngIf="activeGift">
        <app-gift-edit-form
          [gift]="activeGift"
          (onSuccess)="onGiftEditSuccess($event)"
          (onCancel)="activeGift = undefined">
        </app-gift-edit-form>
      </app-modal>
    </div>
  </gd-column>
</gd-row>
