<div *ngIf="wishList">
  <h1>
    {{ wishList.name }}
  </h1>

  <app-gift-create-form *ngIf="isCurrentUser"
    [wishListId]="wishList._id"
    (onSuccess)="onGiftCreateSuccess()">
  </app-gift-create-form>

  <app-card *ngFor="let gift of wishList.gifts">
    <app-card-body>
      <div style="font-weight:bold;">
        {{ gift.name }}
      </div>
      <div *ngIf="gift.budget">
        ${{ gift.budget }}
      </div>
      <div *ngIf="gift.externalUrl">
        <a style="max-width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block;" href="{{ gift.externalUrl }}">{{ gift.externalUrl }}</a>
      </div>
      <app-button-container *ngIf="isCurrentUser">
        <app-button styleType="primary">Mark received</app-button>
        <app-button (click)="activeGift = gift">Edit</app-button>
        <app-button (click)="deleteGift(gift._id)">Delete</app-button>
      </app-button-container>
    </app-card-body>
  </app-card>

  <app-modal *ngIf="activeGift">
    <app-gift-edit-form
      [gift]="activeGift"
      [wishListId]="wishList._id"
      (onSuccess)="onGiftEditSuccess()"
      (onCancel)="activeGift = undefined">
    </app-gift-edit-form>
  </app-modal>
</div>
