<div *ngIf="wishList">
  <h1>
    {{ wishList.name }}
  </h1>

  <app-gift-create-form *ngIf="isCurrentUser"
    [wishListId]="wishList._id"
    (onSuccess)="onGiftCreateSuccess()">
  </app-gift-create-form>

  <app-card *ngFor="let gift of wishList.gifts">
    <app-card-body>
      <div style="font-weight:bold;">
        <del *ngIf="gift.isReceived">{{ gift.name }}</del>
        <span *ngIf="!gift.isReceived">{{ gift.name }}</span>
      </div>
      <div *ngIf="gift.budget && !gift.isReceived">
        Budget: ${{ gift.budget }}
      </div>
      <div *ngIf="gift.externalUrls && !gift.isReceived">
        <app-row *ngFor="let externalUrl of gift.externalUrls">
          <app-column screenXSmall="10" screenSmall="11">
            <a style="max-width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:block;" href="{{ externalUrl.url }}">{{ externalUrl.url }}</a>
          </app-column>
          <app-column screenXSmall="2" screenSmall="1">
            <app-gift-external-url-price
              [wishListId]="wishListId"
              [giftId]="gift._id"
              [dateScrapedRecommended]="dateScrapedRecommended"
              [externalUrl]="externalUrl">
            </app-gift-external-url-price>
          </app-column>
        </app-row>
      </div>
      <app-button-container *ngIf="isCurrentUser">
        <app-button (click)="toggleReceived(gift)" styleType="primary">
          <span *ngIf="!gift.isReceived">Mark received</span>
          <span *ngIf="gift.isReceived === true">Undo received</span>
        </app-button>
        <span *ngIf="!gift.isReceived">
          <app-button (click)="activeGift = gift">Edit</app-button>
          <app-button (click)="deleteGift(gift._id)">Delete</app-button>
        </span>
      </app-button-container>
    </app-card-body>
  </app-card>

  <app-modal *ngIf="activeGift">
    <app-gift-edit-form
      [wishListId]="wishList._id"
      [giftId]="activeGift._id"
      (onSuccess)="onGiftEditSuccess()"
      (onCancel)="activeGift = undefined">
    </app-gift-edit-form>
  </app-modal>
</div>
