<h1>
  Log in
</h1>

<p>
  <app-facebook-login-button
    [redirectUrl]="redirectUrl"
    [disabled]="isLoading">
  </app-facebook-login-button>
</p>

<form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
  <app-form-group label="Email address" [serverErrors]="errors">
    <input type="email" formControlName="emailAddress">
  </app-form-group>

  <app-form-group label="New password" [serverErrors]="errors">
    <input type="password" formControlName="password">
  </app-form-group>

  <app-button type="submit" [disabled]="isLoading">Log in</app-button>

  <p>
    <a [routerLink]="['/forgotten']">Forget your password?</a>
  </p>
</form>
