<h1>
  Log in
</h1>

<form
  [formGroup]="loginForm"
  (ngSubmit)="login()"
  novalidate>

  <gd-form-field
    label="Email address"
    [serverErrors]="errors">
    <input
      gdInput
      type="email"
      formControlName="emailAddress">
  </gd-form-field>

  <gd-form-field
    label="Password"
    [serverErrors]="errors">
    <input
      gdInput
      type="password"
      formControlName="password">
  </gd-form-field>

  <gd-button-container>
    <button
      gdButton
      type="submit"
      [disabled]="isLoading">
      Log in
    </button>
  </gd-button-container>
</form>

<h3>
  Or
</h3>

<p>
  <gd-facebook-login-button
    [redirectUrl]="redirectUrl"
    [disabled]="isLoading">
  </gd-facebook-login-button>
</p>

<p>
  <a
    [routerLink]="['/forgotten']">
    Forget your password?
  </a>
</p>

<p>
  <a
    [routerLink]="['/register']">
    I need an account.
  </a>
</p>
