@import '../../../styles/mixins';

:host {
  position: absolute;
}

.gd-typeahead-results {
  background-color: #fff;
  box-shadow: $gd-box-shadow-lg;
}

.gd-typeahead-result {
  padding: $gd-spacing-padding-squish;
}

.gd-typahead-result-active {
  background-color: $gd-background-color-neutral-light;

  a {
    color: $gd-text-color-dark;
  }
}
