@import '../../../../styles/mixins';

.gd-dib-controls {
  margin-bottom: $gd-spacing-sm;
}

.gd-dib-controls-dibbed-owner {
  border: 1px solid $gd-color-info;
  background-color: $gd-color-info;
  border-radius: $gd-border-radius;
  padding: $gd-spacing-padding-squish;
}

.gd-dib-controls-dibbed-owner-heading {
  font-weight: bold;
}
