@import './mixins';

.gd-button {
  @include gd_button();
  cursor: pointer;
}

.gd-button-primary {
  background-color: $gd-background-color-primary;
  color: #fff;
}

.gd-button-danger {
  background-color: $gd-background-color-danger;
  color: #fff;
}

.gd-button-facebook {
  background-color: $gd-background-color-facebook !important;
  color: #fff;
}
