@import './mixins';

.gd-button {
  @include gd_form_control();
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  color: $gd-text-color-default;
  user-select: none;
  cursor: pointer;
  font-weight: $gd-font-weight-bold;
  border-radius: $gd-border-radius;

  &:disabled {
    @include gd_disabled();
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    @include gd_focus_indicator();
  }
}

.gd-button + .gd-button {
  margin-left: $gd-spacing-sm;
}

.gd-button-block {
  width: 100%;
  display: block;
  text-align: left;
}

.gd-button-default {
  &:hover {
    background-color: lighten($gd-background-color-neutral, 5%);
    color: $gd-text-color-dark;
  }
}

.gd-button-primary {
  background-color: $gd-color-primary;
  color: #fff;

  &:hover {
    background-color: lighten($gd-color-primary, 2%);
  }
}

.gd-button-success {
  background-color: #fff;
  color: $gd-text-color-success;
  border-color: $gd-border-color-success;
  box-shadow: inset 0 -2px 0px $gd-border-color-success;
}

.gd-button-warning {
  background-color: #fff;
  color: $gd-text-color-warning;
  border-color: $gd-border-color-warning;
  box-shadow: inset 0 -2px 0px $gd-border-color-warning;
}

.gd-button-danger {
  background-color: #fff;
  color: $gd-text-color-danger;
  border-color: $gd-border-color-danger;
  box-shadow: inset 0 -2px 0px $gd-border-color-danger;
}

.gd-button-info {
  background-color: #fff;
  color: $gd-text-color-info;
  border-color: $gd-border-color-info;
  box-shadow: inset 0 -2px 0px $gd-border-color-info;
}

.gd-button-link {
  background-color: transparent;

  &:hover {
    text-decoration: underline;
    color: $gd-text-color-dark;
  }
}
