@import './mixins';

.gd-button {
  @include gd_form_control();
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  color: $gd-text-color;
  user-select: none;
  cursor: pointer;
  font-weight: 600;

  &:disabled {
    @include gd_disabled();
  }

  &:hover {
    text-decoration: none;
  }
}

.gd-button-default {
  background-color: $gd-background-color-neutral;
}

.gd-button-primary {
  background-color: $gd-background-color-primary;
  color: #fff;
}

.gd-button-danger {
  background-color: #fff;
  color: $gd-text-color-danger;
  border-color: $gd-border-color-danger;
}

.gd-button-link {
  background-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}
