.btn {
  display: inline-block;
  padding: 8px 12px;
  margin: 0;
  font-family: $font-family;
  font-size: $font-size-sm;
  font-weight: bold;
  line-height: $line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: $border-radius;
  background-color: #fff;

  &:focus,
  &:active {
    outline: none;
  }

  & > .fa {
    opacity: .4;
  }

  &.btn-block {
    width: 100%;
    display: block;
    text-align: left;

    + .btn-block {
      margin-top: 6px;
    }
  }

  &.btn-default {
    border-color: #ddd;
    border-bottom-color: #ccc;
    background: linear-gradient(to bottom,#fff 0,#F8F9F9 100%);
  }

  &.btn-facebook {
    background-color: $color-facebook;
    border-color: transparent;
    color: #fff;
  }

  &.btn-primary {
    background-color: $color-primary;
    color: #fff;
    border-color: transparent;
    border-bottom-color: darken($color-primary, 5%);
    background: linear-gradient(to bottom, lighten($color-primary, 5%) 0, $color-primary 100%);
  }

  &.btn-link {
    background-color: transparent;
    border-color: transparent;
    color: $color-anchor;
    box-shadow: none;

    &:hover {
      text-decoration: none;
    }
  }
}
