.card {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 2px;

  > :last-child {
    margin-bottom: 0;
  }

  .price {
    font-size: $font-size-secondary;
  }
}

.card-heading {
  margin-bottom: 0;
}
