.card {
  padding: $padding-size / 2;
  border: 1px solid transparent;
  border-color: darken($color-body, 3%);
  border-bottom-color: darken($color-body, 10%);
  background-color: #fff;
  border-radius: $border-radius;
  margin-bottom: $padding-size / 2;

  > :last-child {
    margin-bottom: 0;
  }
}
