.comments {
  .media-heading {
    font-weight: bold;
  }
  .media-object {
    width: 40px;
    height: 40px;
  }
}

.comments-heading {
  font-weight: bold;
  margin: 0 0 10px;
  padding-top: 5px;
  font-size: $font-size-lg;

  > .fa {
    margin-right: 5px;
    color: $color-text-muted;
  }
}