* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $font-color;
  background-color: #f7f7f7;
}

h1 {
  font-weight: 500;
  margin: 10px 0;
  font-size: 2em;
}

p {
  margin: 10px 0;
}
