* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $font-color;
}

h1 {
  margin: .5rem 0;
  font-size: 3rem;
}

p {
  margin: 1rem 0;
}

strong {
  font-weight: 700;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}
