form {
  margin: 1rem 0;
}

button, input, select, textarea {
  line-height: inherit;
  font-size: 100%;
  font-family: $font-family;
  margin: 0;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  border: 1px solid $border-color-grey;
  padding: .5rem;
  line-height: $line-height-reduced;
  border-radius: $border-radius;
}

.facebook-button {
  background-color: $background-color-facebook !important;
  color: white !important;
  border-color: darken($background-color-facebook, 8%) !important;
}
