@import './mixins';

.gd-form {
  margin: $gd-spacing 0;
}

.gd-control-label {
  display: inline-block;
  margin-bottom: $gd-spacing-xs;
}

.gd-form-control {
  @include gd_form_control();
  color: $gd-text-color;
  display: block;
  width: 100%;
  font-weight: $gd-font-weight-bold;
  background-color: $gd-background-color-neutral-light;

  &:disabled {
    @include gd_disabled();
  }
}
