@import './mixins';

.gd-form {
  width: 100%;
}

.gd-control-label {
  display: inline-block;
  margin-bottom: $gd-spacing-xs;
  font-weight: $gd-font-weight-normal;
}

.gd-form-control {
  @include gd_form_control();
  display: block;
  width: 100%;
  border-color: $gd-color-neutral-dark;
  background-color: #fff;

  &:disabled {
    @include gd_disabled();
  }

  &:focus {
    @include gd_focus_indicator();
  }
}

textarea.gd-form-control {
  resize: vertical;
}

select.gd-form-control {
  height: 38px;
}

.gd-form-fieldset {

}

.gd-input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: baseline;
  width: 100%;

  .gd-form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    border-radius: 0;
  }
}

.gd-input-group-prepend {
  display: flex;
  margin-right: -1px;
  text-align: center;
  align-items: center;
  padding: $gd-spacing-padding-squish-compact;
  background-color: $gd-color-neutral-dark;
  color: #fff;
  border: 1px solid transparent;
  border-radius: $gd-border-radius-sm;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.gd-input-group-append {
  display: flex;
  margin-left: -1px;
  text-align: center;
  align-items: center;
  padding: $gd-spacing-padding-squish-compact;
  background-color: $gd-color-neutral-dark;
  color: #fff;
  border: 1px solid transparent;
  border-radius: $gd-border-radius-sm;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
