@import './mixins/_outline';

.gd-input {
  font-size: $gd-font-size;
  border: 0;
  background-color: $gd-background-color-neutral-light;
  border-radius: $gd-border-radius;
  font-weight: bold;
  color: $gd-color-text;
  padding: 10px 15px;
  display: block;

  &:focus {
    @include outline;
  }
}
