.media-list {
  padding-left: 0;
  list-style: none;
}

.media {
  margin-top: 15px;
  overflow: hidden;
  zoom: 1;

  &:first-child {
    margin-top: 0;
  }

  .price {
    font-size: $font-size-sm;
  }
}

.media-body {
  display: table-cell;
  vertical-align: top;
  width: 10000px;
  overflow: hidden;
  zoom: 1;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  line-height: $line-height;
}

.media-subheading {
  font-size: $font-size-sm;
  color: $color-text-muted;

  .fa {
    color: lighten($color-text-muted, 25%);
  }
}

.media-left {
  padding-right: 10px;
  display: table-cell;
  vertical-align: top;
}

.media-object {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: $border-radius;
  text-align: center;

  > img {
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
  }
}

.media-details {
  color: $color-text-muted; 
  font-size: $font-size-xs; 
  margin-top: 5px;
}