.media-list {
  padding-left: 0;
  list-style: none;
}

.media {
  margin-top: 15px;
  overflow: hidden;
  zoom: 1;

  &:first-child {
    margin-top: 0;
  }
}

.media-body {
  display: table-cell;
  vertical-align: top;
  width: 10000px;
  overflow: hidden;
  zoom: 1;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.media-left {
  padding-right: 10px;
  display: table-cell;
  vertical-align: top;
}

.media-object {
  display: block;
}