.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: column;

  > li {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;

    > a {
      display: block;
    }
  }

  &.menu-inline {
    align-items: column;
    flex-basis: 0;
    flex-grow: 1;

    > li {
      width: auto;

      > a {
        text-decoration: underline;
      }

      & + li {
        margin-left: $padding-size;
      }
    }
  }

  &.menu-buttons {
    > li {
      width: auto;

      & + li {
        margin-left: 2px;
      }
    }
  }
}
