@import './variables';

@mixin gd_form_control() {
  font-size: $gd-font-size;
  line-height: $gd-line-height;
  border: 1px solid transparent;
  border-radius: $gd-border-radius;
  vertical-align: baseline;
  font-weight: normal;
  padding: .375rem .75rem;
}

@mixin gd_disabled() {
  opacity: 0.65;
  cursor: default;
}
