@import './variables';

@mixin gd_outline() {
  outline: none;
  box-shadow: 0 0 0 4px lightskyblue;
}

@mixin gd_button() {
  display: inline-block;
  text-align: center;
  font-size: $gd-font-size;
  line-height: $gd-line-height-reduced;
  font-weight: $gd-font-weight-bold;
  border: 0;
  background-color: $gd-background-color-neutral-light;
  border-radius: $gd-border-radius;
  color: $gd-color-text;
  padding: $gd-padding $gd-padding-plus-half;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;

  &:focus {
    @include gd_outline();
  }
}

@mixin gd_create_columns($screen-size: sm) {
  @for $i from 1 through $gd-grid-columns {
    :host.gd-column-#{$screen-size}-#{$i} {
      width: ($i / $gd-grid-columns) * 100%;
    }
  }
}

@mixin gd_box() {
  margin-bottom: $gd-margin-double;
}
