.modal-canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.80);
  overflow-y: auto;
  z-index: 1;
}

.modal {
  background-color: $color-grey;
  width: 95%;
  border-radius: 8px;
  max-width: 680px;
  margin: 8px;

  .thumbnail {
    margin-bottom: 10px;
  }

  .link {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;

    > a {
      text-decoration: underline;
    }
  }

  .nav-buttons {
    margin-bottom: 10px;
  }

  h4 {
    margin-bottom: 4px;
  }
}

.modal-header {
  padding: $padding-size 50px 0 $padding-size;
  position: relative;

  .btn {
    color: $color-text-muted;
    font-weight: normal;
    font-size: $font-size-lg;
    background-color: $color-grey;
    position: absolute;
    right: 15px;
    top: 10px;
    padding: 0;

    &:hover {
      color: $color-text;
    }
  }
}

.modal-heading {
  font-weight: bold;
  font-size: $font-size-xl;
  margin-bottom: 6px;
}

.modal-subheading {
  margin-bottom: 3px;
  font-weight: normal;
  color: $color-text-muted;
}

.modal-body {
  padding: $padding-size;
}