.page-header {
  margin-bottom: 20px;
  margin-top: 10px;
  color: #fff;
}

.page-header-heading {
  margin-bottom: 5px;
  font-size: 1.4em;
  font-weight: bold;
}
.page-header-subheading {
  font-size: $font-size-sm;
  font-weight: 100;
  color: #ccc;
}
