.page-header {
  margin-bottom: $padding-size;
  color: #fff;
}

.page-header-heading {
  margin-bottom: 5px;
  font-size: $font-size-xl;
  font-weight: bold;
}

.page-header-subheading {
  font-size: $font-size-sm;
  font-weight: normal;
  color: #ccc;
}
