.runway {
  overflow-x: auto;
  position: relative;
  height: 400px;

  & + .runway {
    .runway-row {
      padding-top: $padding-size * 2;
    }
  }
}

.runway-row {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  user-select: none;

  &.scrollbar.scrollbar-horiz {
    margin-bottom: 5px;
    padding-bottom: 5px;

    &::-webkit-scrollbar {
      height: $padding-size;
      background-color: darken($color-body, 8%);
      border-radius: $padding-size;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: $padding-size;
      background-color: lighten($color-body, 10%);
    }
  }
}

.runway-column {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  margin-right: $padding-size;

  > .btn {
    background-color: rgba(0, 0, 0, 0.75);
    color: rgba(255, 255, 255, 0.9);
    display: block;
    width: 100%;
    text-align: left;

    &:hover {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.85);
    }
  }
}
