* {
  box-sizing: border-box;
}

body {
  font-size: $gd-font-size-default;
  font-family: $gd-font-family;
  color: $gd-text-color;
  line-height: $gd-line-height;
  background-color: $gd-background-color-neutral-lightest;
  font-weight: $gd-font-weight;
}

a {
  font-weight: $gd-font-weight-bold;
  color: $gd-text-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    @include gd_focus_indicator();
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: $gd-line-height-reduced;
  margin-bottom: $gd-spacing;
  font-weight: $gd-font-weight-black;
}

h1 {
  font-size: $gd-font-size-xl;
}

p {
  margin: $gd-spacing 0;
}

strong {
  font-weight: $gd-font-weight-bold;
}

.gd-container-fluid {
  padding: 0 $gd-spacing-lg;
}

.gd-container {
  padding: 0 $gd-spacing-lg;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
}

.gd-screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.gd-text-deemphasized {
  color: $gd-text-color-deemphasized;
}

.gd-circle {
  display: block;
  border-radius: 10rem;
}
