* {
  box-sizing: border-box;
}

html {
  // Used for rem calculations:
  font-size: $gd-font-size-default;
}

body {
  font-size: $gd-font-size-default;
  font-family: $gd-font-family;
  color: $gd-text-color-default;
  line-height: $gd-line-height;
  background-color: #fff;
  font-weight: $gd-font-weight-normal;
}

a {
  font-weight: $gd-font-weight-bold;
  color: $gd-text-color-default;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    @include gd_focus_indicator();
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: $gd-line-height-reduced;
  margin-bottom: $gd-spacing;
  font-weight: $gd-font-weight-black;
  word-break: break-word;
}

h1 {
  font-size: $gd-font-size-xl;
}

h2 {
  font-size: $gd-font-size-large;
}

p {
  margin: $gd-spacing 0;
}

strong {
  font-weight: $gd-font-weight-bold;
}

.gd-screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.gd-text-deemphasized {
  color: $gd-text-color-deemphasized;

  a {
    color: $gd-text-color-deemphasized;
  }
}

.gd-text-strikethrough {
  text-decoration: line-through;
}

.gd-text-small {
  font-size: $gd-font-size-small;
}

.gd-text-price {
  color: $gd-color-neutral-dark;
  font-weight: $gd-font-weight-normal;
  font-size: $gd-font-size-large;
}

.gd-rounded-corners-circle {
  display: block;
  border-radius: 50%;
}

.gd-text-color-danger {
  color: $gd-text-color-danger;
}

.gd-subheading {
  border-bottom: 1px solid $gd-color-neutral-faint;
  padding-bottom: $gd-spacing;
  margin-top: $gd-spacing * 2;
}

.gd-canvas {
  background-color: $gd-color-neutral-faint;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
}

.gd-spacing-padding-even-large {
  padding: $gd-spacing-padding-even-large;
}
