$font-family: sans-serif;
$font-size: 16px;
$font-weight: 300;
$line-height: 1.42;
$line-height-title: 1.1;

$color-primary: #747;
$color-text: #000;
$color-text-muted: #888;
$color-anchor: $color-text;
$color-body: #e2e2e2;
$color-facebook: #3b5998;

$padding-size: 20px;
$border-radius: 4px;
