$font-family: sans-serif;
$font-size: 16px;
$font-size-lg: 110%;
$font-size-md: $font-size;
$font-size-sm: 85%;
$font-size-xs: 75%;
$font-weight: 400;
$line-height: 1.42;
$line-height-title: 1.1;

$color-primary: #555;
$color-text: #4d4d4d;
$color-text-muted: #8c8c8c;
$color-anchor: $color-text;
$color-body: $color-primary;
$color-facebook: #3b5998;

$padding-size: 15px;
$border-radius: 3px;
