$font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;;
$font-size: 14px;
$font-size-xl: 1.5em;
$font-size-lg: 1.145em;
$font-size-md: $font-size;
$font-size-sm: .90em;
$font-size-xs: .85em;
$font-weight: 400;
$line-height: 18px;
$line-height-title: 18px;

$color-primary: #555;
$color-text: #4d4d4d;
$color-text-muted: #777;
$color-anchor: $color-text;
$color-body: $color-primary;
$color-facebook: #3b5998;
$color-grey: #e4e4e4;
$color-danger: orangered;

$padding-size: 16px;
$border-radius: 3px;
