$gd-font-size-default: 100% !default;
$gd-font-size-small: 85% !default;
$gd-font-size-smaller: 75% !default;
$gd-font-size-large: 1.2em !default;
$gd-font-size-larger: 1.5em !default;
$gd-font-size-xl: 2em !default;
$gd-font-size-xxl: 3em !default;

$gd-font-weight-light: 100 !default;
$gd-font-weight: 400 !default;
$gd-font-weight-bold: 700 !default;
$gd-font-weight-black: 900 !default;
$gd-font-family: sans-serif !default;
$gd-line-height: 1.5 !default;
$gd-line-height-reduced: 1.2 !default;

$gd-zindex-alert: 999 !default;

$gd-box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
$gd-box-shadow-lg: 0 0 50px rgba(0, 0, 0, 0.4);
$gd-border-radius: 0.75rem !default;
$gd-border-radius-sm: 0.35rem !default;

$gd-spacing: 1.00rem !default;
$gd-spacing-xl: 2rem !default;
$gd-spacing-lg: 0.750rem !default;
$gd-spacing-md: 0.500rem !default;
$gd-spacing-sm: 0.375rem !default;
$gd-spacing-xs: 0.250rem !default;

$gd-spacing-padding-squish: $gd-spacing-lg $gd-spacing !default;
$gd-spacing-padding-squish-compact: $gd-spacing-sm $gd-spacing-lg !default;
$gd-spacing-padding-squish-large: $gd-spacing $gd-spacing-xl !default;
$gd-spacing-padding-even-large: $gd-spacing-xl !default;

$gd-screen-sm-min: 768px;
$gd-screen-md-min: 992px;
$gd-screen-lg-min: 1200px;

$gd-screen-xs-max: $gd-screen-sm-min - 1;
$gd-screen-sm-max: $gd-screen-md-min - 1;
$gd-screen-md-max: $gd-screen-lg-min - 1;

@function background_color($color) {
  @return desaturate(lighten($color, 45%), 25%);
}

@function border_color($color) {
  @return darken($color, 10%);
}

@function text_color($color) {
  @return saturate(darken($color, 15%), 20%);
}

// PRIMARY
$gd-color-primary: #329B22 !default;
$gd-background-color-primary: background_color($gd-color-primary) !default;
$gd-border-color-primary: border_color($gd-color-primary) !default;
$gd-text-color-primary: text_color($gd-color-primary) !default;

// SECONDARY
$gd-color-secondary: complement($gd-color-primary) !default;
$gd-background-color-secondary: background_color($gd-color-secondary) !default;
$gd-border-color-secondary: border_color($gd-color-secondary) !default;
$gd-text-color-secondary: text_color($gd-color-secondary) !default;

// INFO
$gd-color-info: #0084FF !default;
$gd-background-color-info: background_color($gd-color-info) !default;
$gd-border-color-info: border_color($gd-color-info) !default;
$gd-text-color-info: text_color($gd-color-info) !default;

// SUCCESS
$gd-color-success: $gd-color-primary !default;
$gd-background-color-success: background_color($gd-color-success) !default;
$gd-border-color-success: border_color($gd-color-success) !default;
$gd-text-color-success: text_color($gd-color-success) !default;

// WARNING
$gd-color-warning: #FF8C00 !default;
$gd-background-color-warning: background_color($gd-color-warning) !default;
$gd-border-color-warning: border_color($gd-color-warning) !default;
$gd-text-color-warning: text_color($gd-color-warning) !default;

// DANGER
$gd-color-danger: #D4282F !default;
$gd-background-color-danger: background_color($gd-color-danger) !default;
$gd-border-color-danger: $gd-color-danger !default;
$gd-text-color-danger: $gd-color-danger !default;

// NEUTRAL
$gd-color-neutral: desaturate(lighten($gd-color-primary, 15%), 65%) !default;
$gd-color-neutral-light: lighten($gd-color-neutral, 15%) !default;
$gd-color-neutral-lighter: lighten($gd-color-neutral, 30%) !default;
$gd-color-neutral-lightest: lighten($gd-color-neutral, 40%) !default;
$gd-color-neutral-faint: lighten($gd-color-neutral, 42%) !default;
$gd-color-neutral-dark: darken($gd-color-neutral, 20%) !default;
$gd-color-neutral-darker: darken($gd-color-neutral, 30%) !default;
$gd-color-neutral-darkest: darken($gd-color-neutral, 40%) !default;

$gd-border-color-neutral: darken($gd-color-neutral, 5%) !default;
$gd-border-color-neutral-light: darken($gd-color-neutral-light, 5%) !default;
$gd-border-color-neutral-lighter: darken($gd-color-neutral-lighter, 5%) !default;
$gd-border-color-neutral-lightest: darken($gd-color-neutral-lightest, 5%) !default;

// TEXT COLOR
$gd-text-color-default: $gd-color-neutral-dark !default;
$gd-text-color-deemphasized: desaturate($gd-color-neutral-light, 5%) !default;
$gd-text-color-dark: $gd-color-neutral-darkest !default;
