.well {
  background-color: #E2E4E6;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 100%;
}

.well-header {
  padding: 10px;
  flex: 0 0 auto;
}

.well-heading {
  font-weight: 700;
  margin: 2px 0;
  font-size: $font-size-lg;
}

.well-subheading {
  font-weight: 200;
  font-size: $font-size-sm;
  color: lighten($color-text, 15%);
}

.well-body {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 10px;
  padding-right: 10px;

  > :last-child {
    margin-bottom: 8px;
  }
}

.well-footer {
  flex: 0 0 auto;
  padding: 0 0 3px;
  color: lighten($color-text, 35%);

  .btn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
