$well-padding: 8px;

.well {
  background-color: $color-grey;
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 100%;
  border-radius: 3px;
  margin-bottom: $padding-size;

  .card {
    cursor: pointer;

    .media-object {
      width: 66px;
      height: 66px;
    }

    &:hover {
      box-shadow: 0 0px 2px rgba(0,0,0,0.1);
      border-color: #ccc;
    }
  }

  .btn {
    color: $color-text-muted;
    font-weight: normal;
    background-color: $color-grey;
    font-size: $font-size;

    &:hover {
      background-color: darken($color-grey, 8%);
      color: $color-text;
      text-decoration: underline;
    }
  }

  &.disabled {
    .well-header {
      background: repeating-linear-gradient(
        -45deg,
        $color-grey,
        $color-grey $padding-size/2,
        darken($color-grey, 6%) $padding-size/2,
        darken($color-grey, 6%) $padding-size
      );
      text-shadow: 0 0 7px #ddd;
    }
  }
}

.well-header {
  padding: 8px 11px;
  flex: 0 0 auto;
  position: relative;
  border-radius: 3px 3px 0 0;

  .btn {
    position: absolute;
    right: $well-padding;
    top: 4px;
    padding: 4px 8px;
  }
}

.well-heading {
  font-weight: 700;
  margin: 0;
  font-size: $font-size;
}

.well-subheading {
  font-size: $font-size-sm;
  color: $color-text-muted;
  margin-top: 5px;
}

.well-body {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: $well-padding;
  padding-right: $well-padding;
  padding-bottom: 2px;
}

.well-footer {
  flex: 0 0 auto;
  z-index: 1;
  border-radius: 0 0 3px 3px;

  .btn {
    display: block;
    width: 100%;
    text-align: left;
    border-radius: 0 0 3px 3px;
    padding-top: 5px;
    color: $color-text-muted;
  }
}
