<ng-template [ngIf]="isActive">
  <div class="gd-verify-email-notice">
    <gd-notice noticeType="info">
      <div class="gd-verify-email-notice-content">
        <p>Please verify your email address.</p>
        <div class="gd-button-group">
          <a class="gd-button gd-button-primary" routerLink="/account/verify">
            Learn more
          </a>
          <button
            class="gd-button gd-button-default"
            title="Send an email that will allow you to verify your account."
            type="button"
            [disabled]="isLoading"
            (click)="sendVerificationEmail()"
          >
            Resend verification
          </button>
        </div>
      </div>
    </gd-notice>
  </div>
</ng-template>
