<gd-modal>
  <gd-modal-header>
    <gd-modal-heading>
      <ng-template [ngIf]="!gift">
        New item
      </ng-template>
      <ng-template [ngIf]="gift">
        Edit item
      </ng-template>
    </gd-modal-heading>
  </gd-modal-header>
  <gd-modal-body>
    <form
      [attr.aria-label]="(gift) ? 'Edit item' : 'New item'"
      class="gd-form"
      novalidate
      [formGroup]="giftForm"
      (ngSubmit)="submit()"
    >
      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
          for="gd-gift-edit-name"
        >
          Item name
        </label>
        <textarea
          autocomplete="off"
          class="gd-form-control"
          formControlName="name"
          id="gd-gift-edit-name"
          (keydown.enter)="submit();$event.preventDefault();"
        >
        </textarea>
      </gd-form-field>
      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
          for="gd-gift-edit-priority"
        >
          Priority
        </label>
        <input
          autocomplete="off"
          class="gd-form-control"
          formControlName="priority"
          id="gd-gift-edit-priority"
          type="number"
        >
      </gd-form-field>
      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
          for="gd-gift-edit-budget"
        >
          Budget
        </label>
        <span class="gd-input-group">
          <span class="gd-input-group-prepend">$</span>
          <input
            autocomplete="off"
            class="gd-form-control"
            formControlName="budget"
            id="gd-gift-edit-budget"
            type="number"
          >
          <span class="gd-input-group-append">.00</span>
        </span>
      </gd-form-field>
      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
          for="gd-gift-edit-quantity"
        >
          Quantity
        </label>
        <input
          autocomplete="off"
          class="gd-form-control"
          formControlName="quantity"
          id="gd-gift-edit-quantity"
          type="number"
        >
      </gd-form-field>
      <gd-form-field>
        <gd-checkbox
          formControlName="isReceived"
        >
          Received
        </gd-checkbox>
      </gd-form-field>
    </form>
  </gd-modal-body>
  <gd-modal-footer
    (cancelClicked)="onCancelClicked()"
  >
    <button
      class="gd-button gd-button-primary"
      type="button"
      [disabled]="giftForm.disabled"
      (click)="submit()"
    >
      Save
    </button>
  </gd-modal-footer>
</gd-modal>
