<h1>
  Welcome!
</h1>
<p>
  Please provide a new password, below.
</p>
<form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
  <app-form-group label="New password" [serverErrors]="errors">
    <input type="password" formControlName="password">
  </app-form-group>

  <p>
    By submitting this form you are agreeing to our <a routerLink="/privacy">Privacy Policy</a> and <a routerLink="/terms">Terms</a>.
  </p>

  <app-button type="submit" [disabled]="isLoading">Complete registration</app-button>
</form>
