@import '../../../../styles/mixins';

.app-welcome-banner {
  padding-top: 20px;
  background-color: $gd-color-primary;
  border-bottom: 1px solid $gd-color-neutral-lightest;

  @media (min-width: $gd-screen-sm-min) {
    padding-top: 60px;
  }

  .gd-button {
    margin-top: 10px;
    background-color: #fff;
  }
}

.app-welcome-heading {
  margin-bottom: 10px;
}

.app-welcome-motto {
  font-size: 125%;
}

.app-welcome-content {
  padding-top: 40px;
}

.app-welcome-banner-thumbnail {
  // display: none;

  @media (min-width: $gd-screen-sm-min) {
    // display: block;
    margin-top: -40px;
  }

  ::ng-deep {
    .gd-thumbnail-image-container {
      background-color: transparent;
    }
  }
}
