<div class="app-welcome-banner">
  <h1 class="app-welcome-heading">
    Welcome to GiftDibs
  </h1>

  <p class="app-welcome-motto">
    GiftDibs helps you give and get great gifts&mdash;without ruining the surprise.
  </p>

  <p>
    <a class="gd-button gd-button-default" routerLink="/support">How it works</a>
  </p>
</div>

<div class="gd-container gd-container-sm gd-spacing-padding-even-large">
  <h2 class="app-welcome-subheading">
    Ready to start dibbing?
  </h2>

  <p>
    <a
      class="gd-button gd-button-primary"
      routerLink="/account/register">
      Sign up
    </a>&nbsp;
    <a
      class="gd-button gd-button-default"
      routerLink="/account/login">
      Log in
    </a>
  </p>
</div>
