<div class="app-welcome-banner">
  <div class="gd-container gd-container-sm">
    <gd-row>
      <gd-column screenSmall="6">
        <h1 class="app-welcome-heading">
          Welcome to GiftDibs
        </h1>

        <p class="app-welcome-motto">
          GiftDibs helps you give and get great gifts&mdash;without ruining the surprise.
        </p>

        <p>
          <a class="gd-button gd-button-default" routerLink="/support">How it works</a>
        </p>
      </gd-column>
      <gd-column screenSmall="6">
        <div class="app-welcome-banner-thumbnail">
          <gd-thumbnail
            size="fill"
            imageSource="assets/gd-cartoon-1a.png"
          >
          </gd-thumbnail>
        </div>
      </gd-column>
    </gd-row>
  </div>
</div>

<div class="gd-container gd-container-sm app-welcome-content">
  <h2 class="app-welcome-subheading">
    Ready to start dibbing?
  </h2>

  <p>
    <a
      class="gd-button gd-button-primary"
      routerLink="/account/register">
      Sign up
    </a>&nbsp;
    <a
      class="gd-button gd-button-default"
      routerLink="/account/login">
      Log in
    </a>
  </p>

  <p>
    GiftDibs is committed to your privacy. <a routerLink="/support/privacy">Read more</a>
  </p>

  <p class="gd-text-deemphasized gd-text-small">
    GiftDibs, LLC &copy; 2018
  </p>
</div>
