<h1>
  About
</h1>

<p>
  GiftDibs is a wish list and registry service that works with any online store or merchant.
</p>

<h3>
  It started with family
</h3>

<p>
  The idea for GiftDibs came from the fact that every Holiday Season seemed to be filled with confusion as to who bought what for whom, and the evasive answer to the question: "What does Dad want for Christmas?" Sure, we could always ask him, but he was never surprised with what he received. Thus, the idea for GiftDibs was born: What if there was a service that let people enter gift ideas—things they really wanted—and friends and family could look at their lists anonymously, and surprise them with something they didn't have to officially ask for?
</p>

<p>
  With GiftDibs, you can get a gift for a friend, and you can guarantee that they'll really love it, and might actually be surprised in the process!
</p>
