@import '../../../styles/variables';

.gd-alert-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.gd-alert {
  max-width: 100%;
  position: fixed;
  bottom: $gd-spacing;
  left: $gd-spacing;
  padding: $gd-spacing-padding-squish;
  color: #fff;
  background-color: $gd-text-color-default;
  box-shadow: $gd-box-shadow;
  border-radius: 50px;
  border: 1px solid transparent;
  border-left: 0;
  display: flex;
  align-items: baseline;
  z-index: $gd-zindex-alert;
}

.gd-alert-message {
  flex: 1 1 auto;
  padding-right: $gd-spacing;
}

.gd-alert-info {
  background-color: $gd-color-info;
}

.gd-alert-danger {
  background-color: $gd-color-danger;
}

.gd-alert-success {
  background-color: $gd-color-success;
}
