@import '../../../../styles/mixins';

$app-navbar-gradient: linear-gradient(
  45deg,
  $gd-color-primary 0%,
  #742182 100%
);

.app-navbar {
  background: $gd-color-secondary;
  background: $app-navbar-gradient;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  height: 63px;
  color: #fff;
}

.app-navbar-brand {
  color: #fff;
  font-family: $gd-font-family-serif;
  font-size: 120%;

  ::ng-deep {
    .gd-thumbnail {
      display: inline-block;
      margin-bottom: -7px;
      margin-right: 0px;
      width: 38px;
      height: 38px;
    }
  }
}

.app-navbar-primary {
  flex: 0 0 auto;
}

.app-navbar-secondary {
  text-align: right;

  @media (max-width: $gd-screen-xs-max) {
    flex: 1 1 auto;
  }

  @media (min-width: $gd-screen-sm-min) {
    flex: 0 0 auto;
    justify-content: flex-end;
  }

  > .gd-button {
    color: #fff;
  }
}

.app-navbar-search {
  @media (min-width: $gd-screen-sm-min) {
    flex: 1 1 auto;
    padding-left: $gd-spacing-lg;
    padding-right: $gd-spacing-lg;
  }
}

.app-navbar-search-mobile {
  @media (max-width: $gd-screen-xs-max) {
    display: none;

    &.app-navbar-search-visible {
      display: flex;
      clear: both;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $app-navbar-gradient;
      padding: 12px $gd-spacing;
      z-index: 1;

      .app-navbar-mobile-search {
        flex: 1 1 auto;
      }

      .app-navbar-mobile-search-button {
        flex: 0 0 auto;
        margin-left: $gd-spacing-sm;
      }
    }
  }
}

.app-navbar-menu {
  flex: 1 0 auto;
  display: inline-flex;

  > li {
    padding: 0 $gd-spacing-xs;
    display: flex;
    align-items: center;

    > a,
    ::ng-deep .gd-button-link {
      color: #fff;
      text-decoration: none;

      &:focus,
      &:hover {
        color: #fff;
        text-decoration: none;
      }

      &.active {
        color: #fff;
      }
    }
  }
}
