<div class="app-navbar gd-spacing-padding-squish">
  <div class="app-navbar-primary">
    <span class="app-navbar-brand">
      <gd-thumbnail
        size="xs"
        shape="circle"
        imageSource="assets/gd-logo-transparent.png"
        [route]="{ commands: ['/'] }"
      >
      </gd-thumbnail>
    </span>
  </div>

  <div class="app-navbar-search">
    <ng-container *ngIf="isLoggedIn">
      <!-- DESKTOP SEARCH -->
      <div *ngIf="!isMobile">
        <gd-search> </gd-search>
      </div>

      <!-- MOBILE SEARCH -->
      <div
        *ngIf="isMobile"
        class="app-navbar-search-mobile"
        [ngClass]="{
          'app-navbar-search-visible': showSearch
        }"
      >
        <gd-search class="app-navbar-mobile-search"> </gd-search>
        <div class="app-navbar-mobile-search-button">
          <button
            class="gd-button gd-button-default"
            type="button"
            (click)="showSearch = false; $event.preventDefault()"
          >
            <gd-icon icon="times"></gd-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </div>

  <nav aria-label="User navigation" class="app-navbar-secondary">
    <ng-container *ngIf="isLoggedIn; else notLoggedInMenu">
      <!-- DESKTOP USER NAV -->
      <ul *ngIf="!isMobile" class="app-navbar-menu">
        <li>
          <ng-container *ngTemplateOutlet="userIcon"></ng-container>
        </li>
        <li>
          <a
            class="gd-button gd-button-link"
            routerLink="/dibs"
            routerLinkActive="active"
          >
            Dibs
          </a>
        </li>
        <li>
          <gd-notifications> </gd-notifications>
        </li>
        <li>
          <button
            type="button"
            class="
              gd-button gd-button-link gd-text-deemphasized
              app-navbar-icon-link
            "
            title="Open user menu"
            gdDropdownMenuTrigger
            menuHorizontalAlignment="right"
            [menuItems]="menuItems"
          >
            <gd-icon icon="ellipsis-v"></gd-icon>
          </button>
        </li>
      </ul>

      <!-- MOBILE USER NAV -->
      <ng-container *ngIf="isMobile">
        <button
          class="gd-button gd-button-link"
          title="Open search"
          type="button"
          (click)="showSearch = true; $event.preventDefault()"
        >
          <gd-icon icon="search"></gd-icon>
        </button>
        <gd-notifications> </gd-notifications>
        <button
          class="gd-button gd-button-link"
          title="Open user menu"
          type="button"
          gdDropdownMenuTrigger
          menuHorizontalAlignment="right"
          [menuItems]="menuItemsMobile"
        >
          <gd-icon icon="ellipsis-v"></gd-icon>
        </button>
      </ng-container>
    </ng-container>
  </nav>
</div>

<ng-template #notLoggedInMenu>
  <ul class="app-navbar-menu">
    <li>
      <a
        class="gd-button gd-button-link gd-text-deemphasized"
        routerLink="/account/register"
        routerLinkActive="active"
      >
        Sign up
      </a>
    </li>
    <li>
      <a
        class="gd-button gd-button-link gd-text-deemphasized"
        routerLink="/account/login"
        routerLinkActive="active"
      >
        Log in
      </a>
    </li>
  </ul>
</ng-template>

<ng-template #userIcon>
  <gd-thumbnail
    altText="{{ sessionUser.firstName }} {{ sessionUser.lastName }}"
    iconSize="1x"
    size="xs"
    shape="circle"
    [imageSource]="sessionUser.avatarUrl"
    [route]="{ commands: ['/users', sessionUser.id] }"
  >
  </gd-thumbnail>
</ng-template>
