<div class="gd-navbar">
  <div class="gd-navbar-primary">
    <nav aria-label="Primay site navigation">
      <ul class="gd-navbar-menu">
        <li class="gd-navbar-image-link">
          <gd-thumbnail
            imageSource="assets/gd-logo.png"
            size="xs"
            type="user"
            [route]="{ commands: ['/'] }"
          >
          </gd-thumbnail>
        </li>
      </ul>
    </nav>
  </div>
  <div class="gd-navbar-search">
    <gd-search *ngIf="isLoggedIn()">
    </gd-search>
  </div>
  <div class="gd-navbar-secondary">
    <nav aria-label="User navigation">
      <ul *ngIf="isLoggedIn()"
        class="gd-navbar-menu"
      >
        <li class="gd-navbar-menu-user gd-navbar-image-link">
          <gd-thumbnail
            size="xs"
            type="user"
            [imageSource]="sessionUser.avatarUrl"
            [route]="{ commands: ['/users', sessionUser.id] }"
            title="{{ sessionUser.firstName }} {{ sessionUser.lastName }}"
          >
          </gd-thumbnail>
        </li>
        <li>
          <a
            class="gd-button gd-button-link"
            routerLink="/dibs"
            routerLinkActive="active"
          >
            Dibs
          </a>
        </li>
        <li>
          <gd-notifications>
          </gd-notifications>
        </li>
        <li>
          <button
            type="button"
            class="gd-button gd-button-link gd-text-deemphasized gd-navbar-icon-link"
            title="Open user menu"
            gdDropdownMenuTrigger
            menuHorizontalAlignment="right"
            [menuItems]="menuItems"
          >
            <gd-icon icon="ellipsis-v"></gd-icon>
          </button>
        </li>
      </ul>
      <ul *ngIf="!isLoggedIn()"
        class="gd-navbar-menu"
      >
        <li>
          <a
            class="gd-button gd-button-link gd-text-deemphasized"
            routerLink="/account/register"
            routerLinkActive="active"
          >
            Sign up
          </a>
        </li>
        <li>
          <a
            class="gd-button gd-button-link gd-text-deemphasized"
            routerLink="/account/login"
            routerLinkActive="active"
          >
            Log in
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
