@import '../../../../styles/mixins';

.app-navbar {
  background-color: #fff;
  border-bottom: 1px solid $gd-color-neutral-lightest;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
}

.app-navbar-primary {
  flex: 0 0 auto;
}

.app-navbar-secondary {
  text-align: right;

  @media (max-width: $gd-screen-xs-max) {
    flex: 1 1 auto;
  }

  @media (min-width: $gd-screen-sm-min) {
    flex: 0 0 auto;
    justify-content: flex-end;
  }
}

.app-navbar-search {
  @media (min-width: $gd-screen-sm-min) {
    flex: 1 1 auto;
    padding-left: $gd-spacing-lg;
    padding-right: $gd-spacing-lg;
  }
}

.app-navbar-search-mobile {
  @media (max-width: $gd-screen-xs-max) {
    display: none;

    &.app-navbar-search-visible {
      display: flex;
      clear: both;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      padding: 16px;
      z-index: 1;

      .app-navbar-mobile-search {
        flex: 1 1 auto;
      }

      .app-navbar-mobile-search-button {
        flex: 0 0 auto;
        margin-left: $gd-spacing-sm;
      }
    }
  }
}

.app-navbar-menu {
  flex: 1 0 auto;
  display: inline-flex;

  > li {
    padding: 0 $gd-spacing-xs;
    display: flex;
    align-items: center;

    > a,
    ::ng-deep .gd-button-link {
      color: $gd-text-color-deemphasized;
      padding: $gd-spacing-sm $gd-spacing-lg;

      &:focus,
      &:hover {
        color: $gd-text-color-default;
        text-decoration: none;
      }

      &.active {
        color: $gd-color-neutral-darkest;
      }
    }
  }
}

// .app-navbar-image-link {
//   padding: 0 $gd-spacing-md !important;

//   ::ng-deep a {
//     &:hover {
//       box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1)
//     }
//   }
// }

// .app-navbar-hidden {
//   display: none;
// }

@media (max-width: $gd-screen-xs-max) {
  .app-navbar-desktop {
    display: none;
  }
}

@media (min-width: $gd-screen-sm-min) {
  .app-navbar-mobile {
    display: none;
  }
}
