@import '../../../styles/mixins';

.gd-form-field {
  margin-bottom: $gd-spacing;

  ::ng-deep {
    .gd-form-field {
      margin-bottom: $gd-spacing-xs;
    }
  }
}

.gd-form-field-has-error {
  color: $gd-text-color-danger;

  ::ng-deep {
    .gd-form-control {
      border-color: $gd-border-color-danger;
    }
  }
}

.gd-form-field-subscript {
  font-size: 85%;
}
