@import '../../../../styles/mixins';

.gd-wish-list-preview {
  margin-bottom: $gd-spacing * 2;

  ::ng-deep .gd-card-body a {
    font-weight: normal;
  }
}

.gd-wish-list-preview-thumbnail-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
  width: 100%;
}

.gd-wish-list-preview-thumbnail {
  aspect-ratio: 1;
}
