<div class="gd-wish-list-preview">
  <gd-card
    [route]="{
      commands: ['/wish-lists', wishList.id]
    }"
  >
    <gd-card-thumbnail>
      <div class="gd-wish-list-preview-thumbnail-group gd-rounded-corners-subtle">
        <ng-container *ngFor="let i of [0,1,2,3]">
          <gd-thumbnail *ngIf="wishList.gifts[i] else blankThumbnail"
            class="gd-wish-list-preview-thumbnail"
            iconSize="2x"
            size="fill"
            [imageSource]="wishList.gifts[i].imageUrl"
          >
          </gd-thumbnail>
          <ng-template #blankThumbnail>
            <gd-thumbnail
              iconSize="2x"
              class="gd-wish-list-preview-thumbnail"
              size="fill"
            >
            </gd-thumbnail>
          </ng-template>
        </ng-container>
      </div>
    </gd-card-thumbnail>
    <gd-card-body>
      <gd-card-heading>
        {{ wishList.name }}
      </gd-card-heading>
      <time class="gd-date">
        {{ wishList.dateUpdated | gdFriendlyDate }}
      </time>
      <div *ngIf="wishList.privacy.type === 'me'"
        class="gd-text-deemphasized gd-text-small"
        title="This wish list is private"
      >
        <gd-icon
          icon="eye-slash"
        >
        </gd-icon> Private
      </div>
    </gd-card-body>
  </gd-card>
</div>
