<div class="gd-wish-list-preview">
  <gd-card
    [route]="{
      commands: ['/wish-lists', wishList.id]
    }"
  >
    <gd-card-thumbnail>
      <div
        class="gd-wish-list-preview-thumbnail-group gd-rounded-corners-subtle"
      >
        <ng-container *ngFor="let i of [0, 1, 2, 3, 4]">
          <gd-thumbnail
            *ngIf="wishList.gifts[i]; else blankThumbnail"
            class="gd-wish-list-preview-thumbnail"
            iconSize="2x"
            size="fill"
            [imageSource]="wishList.gifts[i].imageUrl"
          >
          </gd-thumbnail>
          <ng-template #blankThumbnail>
            <gd-thumbnail
              iconSize="2x"
              class="gd-wish-list-preview-thumbnail"
              size="fill"
            >
            </gd-thumbnail>
          </ng-template>
        </ng-container>
      </div>
    </gd-card-thumbnail>
    <gd-card-body>
      <gd-media size="xs">
        <gd-media-content>
          <gd-media-header>
            <gd-media-heading>
              <gd-icon
                *ngIf="wishList.privacy.type === 'me'"
                icon="eye-slash"
                title="This wish list is private"
              ></gd-icon>
              {{ wishList.name }}
            </gd-media-heading>
          </gd-media-header>
          <gd-media-body>
            <span class="gd-text-deemphasized gd-text-small"
              >{{
                wishList.type === 'registry' ? 'Registry' : 'Wish list'
              }}&nbsp;&middot;&nbsp;<time>{{
                wishList.dateUpdated | gdFriendlyDate
              }}</time>
            </span>
          </gd-media-body>
        </gd-media-content>
        <gd-media-thumbnail>
          <gd-thumbnail
            iconSize="2x"
            size="fill"
            shape="circle"
            [imageSource]="wishList.user.avatarUrl"
            [route]="{ commands: ['/users', wishList.user.id] }"
            (click)="$event.stopPropagation()"
          ></gd-thumbnail>
        </gd-media-thumbnail>
      </gd-media>
    </gd-card-body>
  </gd-card>
</div>
