<span class="gd-friendships gd-button-group">
  <button
    class="gd-button gd-button-default"
    title="Toggle following"
    type="button"
    gdDropdownMenuTrigger
    [menuItems]="followingMenuItems"
  >
    <gd-icon icon="user"></gd-icon>
    {{ following?.length }} Following
  </button>

  <button
    class="gd-button gd-button-default"
    title="Toggle followers"
    type="button"
    gdDropdownMenuTrigger
    [menuItems]="followersMenuItems"
  >
    <gd-icon icon="user"></gd-icon>
    {{ followers?.length }} Followers
  </button>
</span>
