@import '../../../styles/mixins';

:host {
  background-color: #fff;
  box-shadow: $gd-box-shadow-lg;
}

.gd-typeahead-results {
  overflow: auto;
  height: 100%;
}

.gd-typeahead-result {
  padding: $gd-spacing-padding-squish;
}

.gd-typeahead-results-hidden {
  visibility: hidden;
}

.gd-typahead-result-active {
  background-color: $gd-color-neutral-lightest;
}

.gd-typeahead-result-button {
  background: transparent;
  font-size: $gd-font-size-default;
  line-height: $gd-line-height;
  border: 0;
  vertical-align: baseline;
  font-weight: $gd-font-weight-normal;
  padding: 0;
  color: $gd-text-color-dark;

  &:hover {
    cursor: pointer;
  }
}
