<div class="gd-wish-list-create">
  <form
    class="gd-form"
    aria-label="Create a new wish list"
    [formGroup]="wishListForm"
    (ngSubmit)="submit()"
    novalidate>

    <gd-form-field [errors]="errors">
      <!-- <label
        class="gd-control-label"
        for="gd-wish-list-create-name">
        Wish list name
      </label> -->
      <input
        type="text"
        class="gd-form-control"
        formControlName="name"
        placeholder="Wish list name"
        autocomplete="off"
        #nameInput>
    </gd-form-field>

    <button
      class="gd-button gd-button-primary"
      type="submit"
      [disabled]="wishListForm.disabled">
      Create
    </button>

    <button
      class="gd-button gd-button-default"
      type="button"
      [disabled]="wishListForm.disabled"
      (click)="triggerCancel()">
      Cancel
    </button>
  </form>
</div>
