@import '../../../styles/variables';

.gd-alert {
  padding: $gd-spacing-padding-squish;
  color: #fff;
  background-color: $gd-text-color;
  margin-top: -$gd-spacing-lg;
  margin-bottom: $gd-spacing-lg;
}

.gd-alert-danger {
  background-color: $gd-color-danger;
}

.gd-alert-success {
  background-color: $gd-color-success;
}
