@import '../../../styles/variables';

.gd-alert {
  padding: $gd-spacing ($gd-spacing * 2);
  color: #fff;
  background-color: $gd-text-color;
  margin-top: -$gd-spacing * 2;
  margin-bottom: $gd-spacing * 2;
}

.gd-alert-error {
  background-color: $gd-background-color-danger;
}

.gd-alert-success {
  background-color: $gd-background-color-success;
}
