@import '../../../styles/variables';

.gd-alert {
  padding: $gd-spacing-padding-squish;
  color: #fff;
  background-color: $gd-text-color;
  margin-top: -$gd-spacing-lg;
  margin-bottom: $gd-spacing-lg;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15);
}

.gd-alert-danger {
  background-color: $gd-color-danger;
}

.gd-alert-success {
  background-color: $gd-color-success;
}
