<div
  aria-hidden="true"
  class="gd-thumbnail"
  [attr.title]="title"
  [ngClass]="classNames"
>
  <ng-container *ngIf="!route">
    <ng-container *ngTemplateOutlet="image"></ng-container>
  </ng-container>
  <ng-container *ngIf="route">
    <a
      class="gd-thumbnail-anchor"
      tabindex="0"
      [routerLink]="route.commands"
      [fragment]="route.extras?.fragment"
      [queryParams]="route.extras?.queryParams"
      [queryParamsHandling]="route.extras?.queryParamsHandling"
    ><ng-container *ngTemplateOutlet="image"></ng-container></a>
  </ng-container>
</div>

<ng-template #image>
  <div
    class="gd-thumbnail-image-container"
    role="img"
    [ngClass]="{
      'gd-rounded-corners-circle': (type === 'user'),
      'gd-thumbnail-empty': !imageSource
    }"
    [ngStyle]="{
      'background-image': (imageSource && size !== 'static') ? 'url(' + imageSource + ')' : ''
    }"
  >
    <gd-icon *ngIf="!imageSource"
      [icon]="icon"
      [iconSize]="iconSize"
      [iconStyle]="iconStyle"
    ></gd-icon>
    <img *ngIf="size === 'static' && imageSource"
      class="gd-thumbnail-image"
      [attr.src]="imageSource"
    />
    <ng-content></ng-content>
  </div>
</ng-template>
