@import '../../../styles/mixins';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.gd-modal {
  background-color: #fff;
  min-width: 500px;
  max-width: 95%;
  position: relative;
  box-shadow: $gd-box-shadow-lg;
  border-radius: $gd-border-radius;
}
