<div class="gd-comment-preview">
  <gd-comment-edit *ngIf="isEdit else commentEditForm"
    [comment]="comment"
    (cancelled)="onCancelled()"
    (saved)="onSaved()"
  >
  </gd-comment-edit>
  <ng-template #commentEditForm>
    <gd-media size="xs">
      <gd-media-thumbnail>
        <gd-thumbnail
          size="fill"
          shape="circle"
          [imageSource]="comment.user.avatarUrl"
          [route]="{ commands: ['/users', comment.user.id] }"
        >
        </gd-thumbnail>
      </gd-media-thumbnail>
      <gd-media-content>
        <gd-media-body>
          <div class="gd-comment-body gd-rounded-corners gd-spacing-padding-squish-compact">
            <a routerLink="/users/{{ comment.user.id }}">{{ comment.user.firstName }} {{ comment.user.lastName }}</a>
            {{ comment.body }}
          </div>
          <div class="gd-comment-footer gd-text-small">
            <time class="gd-text-deemphasized">
              {{ comment.dateUpdated | date }}
            </time>
          </div>
        </gd-media-body>
      </gd-media-content>
      <gd-media-controls *ngIf="isOwner">
        <button
          class="gd-button gd-button-link gd-text-deemphasized"
          title="Toggle comment options"
          type="button"
          gdDropdownMenuTrigger
          menuHorizontalAlignment="right"
          [menuItems]="menuItems"
          (click)="$event.stopPropagation();$event.preventDefault();"
        >
          <gd-icon icon="ellipsis-v"></gd-icon>
        </button>
      </gd-media-controls>
    </gd-media>
  </ng-template>
</div>
