@import '../../../../styles/mixins';

.gd-comment-preview {
  ::ng-deep {
    .gd-media {
      align-items: flex-start;
    }
  }
}

.gd-comment-body {
  display: inline-block;
  margin-bottom: $gd-spacing-xs;
}
