@import '../../../styles/mixins';

.gd-gift-preview {
  display: block;

  &:focus {
    @include gd_focus_indicator();
  }

  &:hover {
    background-color: $gd-color-neutral-faint;
    box-shadow: 0 0 0 $gd-spacing-sm $gd-color-neutral-faint;
    text-decoration: none;
  }

  &:focus,
  &:hover {
    .gd-button {
      opacity: 1;
    }
  }
}

.gd-gift-preview-received {
  opacity: 0.5;
}

.gd-button {
  opacity: 0;
}
