@import '../../../styles/mixins';

.gd-gift-detail {
  ::ng-deep {
    gd-thumbnail {
      height: auto;
    }
  }
}

.gd-gift-detail-notes {
  word-wrap: break-word;
}

.app-gift-detail-thumbnail {
  margin-bottom: $gd-spacing;
}
