<gd-wait *ngIf="isLoading"></gd-wait>

<div class="gd-canvas">
  <div class="gd-container gd-container-sm">
    <p *ngIf="gift">
      <a routerLink="/wish-lists/{{ gift.wishList.id }}"><gd-icon icon="chevron-left"></gd-icon>{{ gift.wishList.name }}</a>
    </p>
  </div>
  <div class="gd-container gd-container-sm">
    <div *ngIf="gift" class="app-gift">
      <div class="app-gift-detail gd-detail-pane">
        <gd-row>
          <gd-column
            [screenSmall]="6"
          >
            <div class="app-gift-detail-thumbnail">
              <gd-thumbnail
                class="gd-gift-thumbnail"
                size="static"
                [imageSource]="gift.imageUrl || defaultImageUrl"
              ></gd-thumbnail>
            </div>
          </gd-column>
          <gd-column
            [screenSmall]="6"
          >
            <h1 class="gd-heading">
              {{ gift.name }}
            </h1>

            <ng-container *ngIf="isSessionUser">
              <div *ngIf="!gift.dateReceived"
                class="gd-button-group"
              >
                <button
                  class="gd-button gd-button-primary"
                  type="button"
                  [disabled]="isLoading"
                  (click)="markReceived()"
                >
                  <gd-icon icon="check"></gd-icon>
                  Mark as received
                </button>
                <button
                  class="gd-button gd-button-default"
                  title="Toggle gift options"
                  type="button"
                  gdDropdownMenuTrigger
                  [menuItems]="menuItems"
                >
                  <gd-icon icon="ellipsis-v"></gd-icon>
                </button>
              </div>

              <ng-container *ngIf="gift.dateReceived">
                <gd-notice noticeType="info">
                  You marked this gift as <strong>received</strong> on<br>
                  {{ gift.dateReceived | date }}.
                </gd-notice>
                <button
                  class="gd-button gd-button-default"
                  type="button"
                  [disabled]="isLoading"
                  (click)="confirmDelete()"
                >
                  <gd-icon icon="trash"></gd-icon>
                  Delete
                </button>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="!isSessionUser">
              <gd-dib-controls
                [gift]="gift"
                (change)="onDibChange()"
              >
              </gd-dib-controls>
            </ng-container>

            <div class="app-gift-detail-external-urls">
              <gd-media-list *ngIf="gift.externalUrls && gift.externalUrls.length">
                <gd-media *ngFor="let externalUrl of gift.externalUrls"
                  size="sm"
                >
                  <gd-media-thumbnail>
                    <gd-thumbnail
                      iconSize="2x"
                      size="fill"
                      [externalLink]="externalUrl.url"
                      [imageSource]="gift.imageUrl || defaultImageUrl"
                    ></gd-thumbnail>
                  </gd-media-thumbnail>
                  <gd-media-content>
                    <a
                      [attr.href]="externalUrl.url"
                      target="_blank"
                      title="Open this URL in a new window"
                    >{{ getURLName(externalUrl.url) }}</a>&nbsp;
                    <gd-icon icon="external-link-alt"></gd-icon>
                  </gd-media-content>
                </gd-media>
              </gd-media-list>
            </div>

            <table class="gd-table gd-table-condensed">
              <tr *ngIf="gift.notes">
                <th>Notes</th>
                <td>{{ gift.notes }}</td>
              </tr>
              <tr>
                <th>Budget</th>
                <td>${{ gift.budget || '--' }} <span *ngIf="gift.quantity > 1">ea.</span></td>
              </tr>
              <tr>
                <th>Priority</th>
                <td>
                  <gd-gift-priority
                    [priority]="gift.priority"
                  >
                  </gd-gift-priority>
                </td>
              </tr>
              <tr>
                <th>Quantity</th>
                <td>
                  {{ gift.quantity }}
                  <span *ngIf="quantityRemaining !== undefined">({{ quantityRemaining }} available)</span>
                </td>
              </tr>
            </table>

            <gd-disclosure>
              <gd-disclosure-heading>
                Comments
                <ng-template [ngIf]="gift.comments && gift.comments.length"> ({{ gift.comments.length }})</ng-template>
              </gd-disclosure-heading>
              <gd-disclosure-body>
                <gd-comment-list
                  [comments]="gift.comments"
                >
                </gd-comment-list>
                <gd-comment-edit
                  [giftId]="gift.id"
                  (saved)="onCommentSaved()"
                >
                </gd-comment-edit>
              </gd-disclosure-body>
            </gd-disclosure>

            <gd-media-list>

              <gd-media size="xs">
                <gd-media-thumbnail>
                  <gd-thumbnail
                    altText="{{ gift.user.firstName }} {{ gift.user.lastName }}"
                    iconSize="1x"
                    shape="circle"
                    size="fill"
                    [imageSource]="gift.user.avatarUrl"
                    [route]="{ commands: ['/users', gift.user.id] }"
                  >
                  </gd-thumbnail>
                </gd-media-thumbnail>
                <gd-media-content>
                  <a [routerLink]="['/users', gift.user.id]">{{ gift.user.firstName }} {{ gift.user.lastName }}</a>
                  added to
                  <a routerLink="/wish-lists/{{ gift.wishList.id }}">{{ gift.wishList.name }}.</a><br>
                  <time class="gd-date">{{ gift.dateUpdated | gdFriendlyDate }}</time>
                </gd-media-content>
              </gd-media>

              <gd-media *ngIf="gift.dateReceived" size="xs">
                <gd-media-thumbnail>
                  <gd-thumbnail
                    altText="{{ gift.user.firstName }} {{ gift.user.lastName }}"
                    iconSize="1x"
                    shape="circle"
                    size="fill"
                    [imageSource]="gift.user.avatarUrl"
                    [route]="{ commands: ['/users', gift.user.id] }"
                  >
                  </gd-thumbnail>
                </gd-media-thumbnail>
                <gd-media-content>
                  <a [routerLink]="['/users', gift.user.id]">{{ gift.user.firstName }} {{ gift.user.lastName }}</a>
                  marked as received.<br>
                  <time class="gd-date">{{ gift.dateReceived | gdFriendlyDate }}</time>
                </gd-media-content>
              </gd-media>

              <ng-container *ngIf="gift.dibs && gift.dibs.length">
                <ng-container *ngFor="let dib of gift.dibs">
                  <gd-media
                    size="xs"
                  >
                    <gd-media-thumbnail>
                      <gd-thumbnail
                        iconSize="1x"
                        shape="circle"
                        size="fill"
                        [imageSource]="dib.user.avatarUrl"
                        [route]="(dib.isAnonymous) ? null : {
                          commands: ['/users', dib.user.id]
                        }"
                      >
                      </gd-thumbnail>
                    </gd-media-thumbnail>
                    <gd-media-content>
                      <strong *ngIf="dib.isAnonymous else notAnonymous">Anonymous</strong>
                      <ng-template #notAnonymous>
                        <a routerLink="/users/{{ dib.user.id }}">{{ dib.user.firstName }} {{ dib.user.lastName }}</a>
                      </ng-template>
                      <ng-template [ngIf]="dib.dateDelivered">
                        delivered ({{ dib.quantity }}).<br>
                        <time class="gd-date">
                          {{ dib.dateDelivered | gdFriendlyDate }}
                        </time>
                      </ng-template>
                      <ng-template [ngIf]="!dib.dateDelivered">
                        dibbed ({{ dib.quantity }}).<br>
                        <time class="gd-date">
                          {{ dib.dateUpdated | gdFriendlyDate }}
                        </time>
                      </ng-template>
                    </gd-media-content>
                  </gd-media>
                </ng-container>
              </ng-container>
            </gd-media-list>
          </gd-column>
        </gd-row>
      </div>
    </div>
  </div>

  <div class="app-gift-detail-similar-products">
    <gd-wait *ngIf="isLoadingSimilarProducts"
      [showBackdrop]="false"
    ></gd-wait>

    <div *ngIf="similarProducts && similarProducts.length" class="gd-container gd-container-lg">
      <h2 class="gd-subheading">
        More gift ideas
      </h2>
      <gd-row>
        <gd-column *ngFor="let product of similarProducts"
          screenSmall="3"
        >
          <app-product-preview
            [product]="product"
          >
          </app-product-preview>
        </gd-column>
      </gd-row>
    </div>
  </div>
</div>
