@import '../../../styles/mixins';

:host {
  position: absolute;
}

.gd-dropdown-menu {
  max-width: 275px;
  box-shadow: $gd-box-shadow-lg;
  border: 1px solid $gd-border-color-neutral;
}

.gd-dropdown-hidden {
  visibility: hidden;
}

.gd-dropdown-menu-item-button {
  display: block;
  width: 100%;
  text-align: left;
  border-radius: 0;
  font-weight: $gd-font-weight;

  > .fa {
    margin-right: 5px;
  }

  &:hover {
    background-color: $gd-background-color-neutral-light;
    color: $gd-text-color-dark;
  }
}

.gd-dropdown-menu-item-separator {
  border-bottom: 1px solid $gd-border-color-neutral-lightest;
}
