<h1>
  Delete your account
</h1>

<p>
  Are you sure you want to delete your account? This action cannot be undone.
</p>

<form
  [formGroup]="deleteAccountForm"
  (ngSubmit)="deleteAccount()"
  novalidate>

  <gd-form-field
    label="Password"
    [serverErrors]="errors">
    <input
      gdInput
      type="password"
      formControlName="password">
  </gd-form-field>

  <gd-button-container>
    <button
      gdButton="danger"
      type="submit"
      [disabled]="isLoading">
      Yes, delete my account forever.
    </button>
  </gd-button-container>
</form>

<p>
  <a [routerLink]="['/forgotten']">Forget your password?</a>
</p>

<p>
  <a routerLink="/settings">Back to settings...</a>
</p>
