<h1>
  Delete your account
</h1>
<p>
  Are you sure you want to delete your account? This action cannot be undone.
</p>
<form [formGroup]="deleteAccountForm" (ngSubmit)="deleteAccount()" novalidate>
  <app-form-group label="Password" [serverErrors]="errors">
    <input type="password" formControlName="password">
  </app-form-group>

  <p>
    <a [routerLink]="['/forgotten']">Forget your password?</a>
  </p>

  <app-button type="submit" [disabled]="isLoading">Yes, delete my account forever.</app-button>

  <p>
    <a routerLink="/settings">Cancel</a>
  </p>
</form>
