<nav class="navbar">
  <div class="navbar-main">
    <a [routerLink]="['/']" routerLinkExactActive="active">Home</a>
    <a [routerLink]="['/users']" routerLinkActive="active">Users</a>
  </div>
  <div class="navbar-user" *ngIf="currentUser">
    <a [routerLink]="['/profile']" routerLinkActive="active">{{currentUser.firstName}} {{currentUser.lastName}}</a>
    <a href="" (click)="logout()">Log out</a>
  </div>
  <div class="navbar-user" *ngIf="!currentUser">
    <a [routerLink]="['/login']" routerLinkActive="active">Log in</a>
    <a [routerLink]="['/register']" routerLinkActive="active">Register</a>
  </div>
</nav>
<app-alert></app-alert>
<div class="container">
  <router-outlet></router-outlet>
</div>
