@import "../styles/_variables";
.header {
  background-color: $color-primary;
  color: #fff;
  height: 50px;

  a {
    color: #fff;
    line-height: 50px;
  }

  .brand {}

  .menu {
    float: right;
  }
}

#main {
  padding-top: $padding-size/2;
  padding-bottom: $padding-size/2;
}
