<nav class="navbar">
  <div class="navbar-main">
    <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">GiftDibs</a> /
    <a [routerLink]="['/users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Users</a> /
    <a [routerLink]="['/wish-lists']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Wish lists</a>
  </div>
  <div class="navbar-user" *ngIf="isLoggedIn()">
    <a [routerLink]="['/profile']" routerLinkActive="active">{{currentUser.firstName}} {{currentUser.lastName}}</a>
    <a [routerLink]="['/settings']" routerLinkActive="active">Settings</a>
    <a href="" (click)="logout($event)">Log out</a>
  </div>
  <div class="navbar-user" *ngIf="!isLoggedIn()">
    <a [routerLink]="['/login']" routerLinkActive="active">Log in</a>
    <a [routerLink]="['/register']" routerLinkActive="active">Register</a>
  </div>
</nav>

<app-alert>
</app-alert>

<div class="app-container">
  <router-outlet>
  </router-outlet>
</div>

<app-footer>
</app-footer>
