@import '../../../styles/mixins';

.gd-modal-header {
  display: flex;
  padding: $gd-spacing-padding-squish;
  align-items: baseline;
}

.gd-modal-header-button-close {
  margin-top: -$gd-spacing-lg;
  margin-bottom: -$gd-spacing-lg;
  margin-right: -$gd-spacing-lg;
}
