@import '../../../styles/mixins';

.gd-modal-header {
  padding: $gd-spacing-padding-squish;
  border-bottom: 1px solid $gd-color-neutral-lightest;
}

.gd-modal-header-button-close {
  margin-top: -$gd-spacing-lg;
  margin-bottom: -$gd-spacing-lg;
  margin-right: -$gd-spacing-lg;
}
