:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.gd-modal-wrapper {
  position: relative;
  max-height: 95%;
  max-width: 95%;
  width: 750px;
}

.gd-modal-wrapper-small {
  width: 300px;
}
