:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

// .gd-modal-wrapper {
//   position: relative;
//   max-height: 95%;
//   max-width: 95%;
//   width: 750px;
//   display: flex;
// }
.gd-modal-wrapper {
  max-width: 95%;
}

.gd-modal-wrapper-large {
  width: 950px;
}

.gd-modal-wrapper-medium {
  width: 750px;
}

.gd-modal-wrapper-small {
  width: 340px;
}
