@import '../../../styles/mixins';

.gd-modal-header {
  padding: $gd-spacing;
}

.gd-modal-header-button-close {
  margin-top: -$gd-spacing-lg;
  margin-bottom: -$gd-spacing-lg;
  margin-right: -$gd-spacing-lg;
}
