<div *ngIf="!isSessionUser"
  class="gd-dib-controls gd-button-group"
>
  <button *ngIf="dib"
    class="gd-button gd-button-primary gd-button-block"
    type="button"
    [disabled]="isLoading"
    (click)="openDibModal()"
  >
    <gd-icon icon="pencil-alt"></gd-icon>
    Edit dib
  </button>
  <button *ngIf="dib"
    class="gd-button gd-button-default gd-button-block"
    type="button"
    [disabled]="isLoading"
    (click)="removeDib()"
  >
    <gd-icon icon="minus"></gd-icon>
    Remove dib
  </button>
  <button *ngIf="!dib"
    class="gd-button gd-button-primary gd-button-block"
    type="button"
    [disabled]="isLoading"
    (click)="openDibModal()"
  >
    <gd-icon icon="hand-paper"></gd-icon>
    Dib this
  </button>
</div>
