<gd-wait *ngIf="isLoading"></gd-wait>

<div class="gd-container gd-spacing-padding-even-large">
  <h1>
    Dibs
  </h1>

  <div class="gd-button-group gd-button-group-tabs">
    <button
      class="gd-button gd-button-tab"
      type="button"
      [ngClass]="{
        'gd-button-tab-selected': !isDeliveredViewActive
      }"
      (click)="showActive()"
    >
      Active
    </button>
    <button
      class="gd-button gd-button-tab"
      type="button"
      [ngClass]="{
        'gd-button-tab-selected': isDeliveredViewActive
      }"
      (click)="showDelivered()"
    >
      Delivered
    </button>
  </div>

  <ng-container *ngTemplateOutlet="recipientsTemplate;context:{recipients:recipients}">
  </ng-container>
</div>

<ng-template
  let-recipients="recipients"
  #recipientsTemplate
>
  <div *ngIf="(recipients && recipients.length) else noRecipients"
    class="gd-dibs-recipients"
  >
    <div *ngFor="let recipient of recipients"
      class="gd-dibs-recipient"
    >
      <div class="gd-dibs-recipient-gift gd-rounded-corners">
        <div class="gd-dibs-recipient-gift-header gd-spacing-padding-squish">
          <gd-media size="xs">
            <gd-media-thumbnail>
              <gd-thumbnail
                iconSize="1x"
                shape="circle"
                size="fill"
                [imageSource]="recipient.avatarUrl"
                [route]="{commands:['/users', recipient.id]}"
              >
              </gd-thumbnail>
            </gd-media-thumbnail>
            <gd-media-content>
              <gd-media-header>
                For <a routerLink="/users/{{ recipient.id }}">{{ recipient.firstName }} {{ recipient.lastName }}</a>
              </gd-media-header>
            </gd-media-content>
          </gd-media>
        </div>
        <div class="gd-dibs-recipient-gift-body gd-rounded-corners-subtle gd-spacing-padding-squish">
          <gd-repeater>
            <ng-container *ngFor="let wishList of recipient.wishLists">
              <gd-repeater-item *ngFor="let gift of wishList.gifts">
                <gd-row>
                  <gd-column
                    screenXXSmall="12"
                    screenXSmall="3"
                    screenSmall="2"
                  >
                    <div class="app-dibs-recipient-gift-thumbnail">
                      <gd-thumbnail
                        size="static"
                        [imageSource]="gift.imageUrl"
                        [route]="{
                          commands: [],
                          extras: {
                            queryParams: { giftId: gift.id }
                          }
                        }"
                      >
                      </gd-thumbnail>
                    </div>
                  </gd-column>
                  <gd-column
                    screenXXSmall="12"
                    screenXSmall="9"
                    screenSmall="10"
                  >
                    <a role="heading" [routerLink]="[]" [queryParams]="{ giftId: gift.id }">{{ gift.name }}</a><br>
                    <div class="gd-text-price">
                      ${{ gift.budget || '--' }}
                    </div>
                    <table class="gd-table gd-table-condensed">
                      <tr>
                        <th>Quantity</th>
                        <td>{{ gift.dibs[0].quantity }}</td>
                      </tr>
                      <tr>
                        <th>Price paid</th>
                        <td>${{ gift.dibs[0].pricePaid || '--' }}</td>
                      </tr>
                      <tr>
                        <th>Anonymous?</th>
                        <td>{{ (gift.dibs[0].isAnonymous === true) ? 'yes' : 'no' }}</td>
                      </tr>
                      <tr>
                        <th>My notes</th>
                        <td>{{ gift.dibs[0].notes }}</td>
                      </tr>
                    </table>
                    <gd-dib-controls
                      [gift]="gift"
                      (change)="onDibChange()"
                    >
                    </gd-dib-controls>
                  </gd-column>
                </gd-row>
              </gd-repeater-item>
            </ng-container>
          </gd-repeater>
        </div>
        <div class="gd-dibs-recipient-gift-footer gd-spacing-padding-squish">
          Totals for {{ recipient.firstName }}: ${{ recipient.totalBudgeted || '--' }}<br>
          <strong class="gd-text-small">(You paid: ${{ recipient.totalPricePaid || '--' }})</strong>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noRecipients>
    <gd-notice>
      No dibs found.
    </gd-notice>
  </ng-template>
</ng-template>
