@import '../../../styles/mixins';

.gd-dibs-recipients {
}

.gd-dibs-recipient-gift {
  margin-bottom: $gd-spacing * 2;
  background-color: #fff;
  border: 1px solid $gd-color-neutral-lighter;
}

.gd-dibs-recipient-gift-body {
  padding-left: 1.5rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  background-color: #fff;
  border: 1px solid $gd-color-neutral-lighter;
}
