@import '../../../styles/mixins';

.gd-dibs-recipients {
}

.gd-dibs-recipient-gift {
  margin-bottom: $gd-spacing * 2;
  background-color: #fff;
  border: 1px solid $gd-color-neutral-lighter;
}

.gd-dibs-recipient-gift-body {
  margin-left: -6px;
  margin-right: -6px;
  background-color: #fff;
  border: 1px solid $gd-color-neutral-lighter;
}

.app-dibs-recipient-gift-thumbnail {
  margin-bottom: $gd-spacing;
}
