<div class="gd-container-fluid gd-canvas">
  <h1>
    Dibs
  </h1>

  <gd-repeater *ngIf="recipients">
    <gd-repeater-item *ngFor="let recipient of recipients">
      <gd-card>
        <gd-card-header>
          <gd-card-heading>
            <gd-media>
              <gd-media-thumbnail>
                <gd-thumbnail
                  size="xs"
                  type="user"
                >
                </gd-thumbnail>
              </gd-media-thumbnail>
              <gd-media-body>
                <gd-media-header>
                  {{ recipient.firstName }} {{ recipient.lastName }}
                </gd-media-header>
              </gd-media-body>
            </gd-media>
          </gd-card-heading>
        </gd-card-header>
        <gd-card-body>
          <ng-template ngFor let-wishList [ngForOf]="recipient.wishLists">
            <gd-repeater>
              <gd-repeater-item *ngFor="let gift of wishList.gifts">
                <gd-row>
                  <gd-column screenSmall="4">
                    <gd-media>
                      <gd-media-thumbnail>
                        <gd-thumbnail>
                        </gd-thumbnail>
                      </gd-media-thumbnail>
                      <gd-media-content>
                        <gd-media-header>
                          <gd-media-heading>
                            <a
                              [ngClass]="{
                                'gd-wish-list-preview-gift-received': gift.isReceived,
                                'gd-text-deemphasized': gift.isReceived
                              }"
                              [routerLink]="[]"
                              [queryParams]="{ giftId: gift.id }"
                            >{{ gift.name }}
                              <ng-template [ngIf]="gift.quantity > 1">
                                ({{ gift.quantity }})
                              </ng-template>
                            </a>
                          </gd-media-heading>
                        </gd-media-header>
                        <gd-media-body>
                          <div>
                            in {{ wishList.name }}
                          </div>
                          <div class="gd-text-color-danger">
                            ${{ gift.budget || '--' }}
                            <span *ngIf="gift.quantity > 1">ea.</span>
                          </div>
                        </gd-media-body>
                      </gd-media-content>
                    </gd-media>
                  </gd-column>
                  <gd-column screenSmall="5">
                    <pre>{{ gift.dibs[0] | json }}</pre>
                  </gd-column>
                  <gd-column screenSmall="3">
                    <gd-dib-controls
                      [gift]="gift"
                      (change)="onDibChange($event)"
                    >
                    </gd-dib-controls>
                  </gd-column>
                </gd-row>
              </gd-repeater-item>
            </gd-repeater>

            <!-- <gd-card *ngFor="let gift of wishList.gifts">
              <gd-card-header>
                <gd-card-heading>
                  {{ gift.name }}
                </gd-card-heading>
                {{ wishList.name }}
              </gd-card-header>
              <gd-card-body>
                <div>
                  ${{ gift.budget || '--' }}
                  <span *ngIf="gift.quantity > 1">ea.</span>
                </div>
                <gd-dib-controls
                  [gift]="gift"
                  (change)="onDibChange($event)"
                >
                </gd-dib-controls>

              </gd-card-body>
            </gd-card> -->
          </ng-template>
        </gd-card-body>
        <gd-card-footer>
          Totals for {{ recipient.firstName }}: ${{ recipient.budget }}
        </gd-card-footer>
      </gd-card>
    </gd-repeater-item>

    <pre>
{{recipients|json}}
    </pre>
    <!-- <gd-card *ngFor="let recipient of recipients">
      <gd-card-header>
        {{ recipient.firstName }} {{ recipient.lastName }}
      </gd-card-header>
      <gd-card-body *ngFor="let gift of recipient.gifts">
        <gd-row>
          <gd-column screenXSmall="6">
            <strong>{{ gift.name }}</strong><br>
            <a routerLink="/wish-lists/{{ gift._wishList.id }}">{{ gift._wishList.name }}</a><br>
            ${{ gift.budget }}
          </gd-column>
          <gd-column screenXSmall="6">
            [edit button]
            <div *ngIf="gift._dib.dateDelivered">
              Date delivered: {{ gift._dib.dateDelivered | date }}
            </div>
          </gd-column>
        </gd-row>
      </gd-card-body>
      <gd-card-footer>
        <gd-row>
          <gd-column screenXSmall="9">
            Totals for {{ recipient.firstName }}:
          </gd-column>
          <gd-column screenXSmall="3">
            ${{ recipient.budget }}
          </gd-column>
        </gd-row>
      </gd-card-footer>
    </gd-card> -->
  </gd-repeater>
</div>
