@import '../../../../styles/_variables';

.gd-card-composer {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -2px;
}

.gd-card-composer-form {
  padding: 0 10px 8px;
}

.form-control {
  border: 0;
  outline: none;
  padding: 0;
}

.form-group {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.btn-link {
  &:hover {
    background-color: #ddd;
    border-radius: 0 0 4px 4px;
  }
}