<gd-wait *ngIf="isLoading"></gd-wait>
<div class="gd-canvas">
  <div class="gd-container gd-container-xs gd-spacing-padding-even-large">
    <div class="gd-detail-pane">
      <h1>Reset your password</h1>

      <form
        class="gd-form"
        aria-label="Create a new password"
        [formGroup]="resetPasswordForm"
        (ngSubmit)="submit()"
        novalidate
      >
        <gd-form-field *ngIf="!hasToken" [errors]="errors">
          <label class="gd-control-label" for="gd-reset-password-current">
            Current password
          </label>
          <gd-password-viewer
            [disabled]="resetPasswordForm.disabled"
            [inputElement]="currentPasswordInput"
          >
            <input
              autocorrect="off"
              autocapitalize="none"
              type="password"
              class="gd-form-control"
              id="gd-reset-password-current"
              formControlName="currentPassword"
              autocomplete="off"
              #currentPasswordInput
            />
          </gd-password-viewer>
        </gd-form-field>

        <gd-form-field [errors]="errors">
          <label class="gd-control-label" for="gd-reset-password-new">
            New password
          </label>
          <gd-password-viewer
            [disabled]="resetPasswordForm.disabled"
            [inputElement]="passwordInput"
          >
            <input
              autocorrect="off"
              autocapitalize="none"
              type="password"
              class="gd-form-control"
              id="gd-reset-password-new"
              formControlName="password"
              autocomplete="off"
              #passwordInput
            />
          </gd-password-viewer>
        </gd-form-field>

        <gd-form-field [errors]="errors">
          <label class="gd-control-label" for="gd-reset-password-again">
            New password again
          </label>
          <gd-password-viewer
            [disabled]="resetPasswordForm.disabled"
            [inputElement]="passwordInputAgain"
          >
            <input
              autocorrect="off"
              autocapitalize="none"
              type="password"
              class="gd-form-control"
              id="gd-reset-password-again"
              formControlName="passwordAgain"
              autocomplete="off"
              #passwordInputAgain
            />
          </gd-password-viewer>
        </gd-form-field>

        <button
          class="gd-button gd-button-primary"
          type="submit"
          [disabled]="resetPasswordForm.disabled"
        >
          Save new password
        </button>
      </form>

      <p *ngIf="!hasToken">
        <a routerLink="/account/forgotten">Forget your password?</a>
      </p>
    </div>
  </div>
</div>
