@import '../../../styles/mixins';

.gd-card-header {
  display: flex;
  align-items: baseline;
  padding: $gd-spacing-padding-squish;
  padding-bottom: 0;
  margin-top: -$gd-spacing;
  margin-right: -$gd-spacing;
  margin-left: -$gd-spacing;
}
