@import '../../../styles/mixins';

:host {
  flex: 1 1 auto;
}

.gd-card-heading {
  margin: 0;
  font-size: $gd-font-size-default;
  font-weight: $gd-font-weight-bold;
  line-height: $gd-line-height;
}
