<ul
  tabindex="0"
  class="gd-dropdown-menu"
  [ngClass]="{
    'gd-dropdown-hidden': !isVisible
  }"
  #menuElementRef
>
  <ng-template ngFor let-item [ngForOf]="items">
    <li class="gd-dropdown-menu-item">
      <div *ngIf="item.action else routerTemplate"
        role="button"
        class="gd-button gd-dropdown-menu-item-button"
        tabindex="0"
        (click)="handleItemAction(item);"
        (keydown.enter)="handleItemAction(item);$event.preventDefault();"
      >
        <ng-container
          *ngTemplateOutlet="itemTemplate; context: { item: item }"
        >
        </ng-container>
      </div>
      <ng-template #routerTemplate>
        <a
          class="gd-button gd-dropdown-menu-item-button"
          [routerLink]="item.route"
        >
          <ng-container
            *ngTemplateOutlet="itemTemplate; context: { item: item }">
          </ng-container>
        </a>
      </ng-template>
    </li>
    <li
      *ngIf="item.addSeparatorAfter"
      class="gd-dropdown-menu-item-separator"
      role="separator"
      tabindex="-1">
    </li>
  </ng-template>
</ul>

<ng-template let-item="item" #defaultItemTemplate>
  <div class="gd-dropdown-menu-item-container">
    <gd-icon
      *ngIf="item.icon"
      [icon]="item.icon">
    </gd-icon>
    {{ item.label }}
  </div>
</ng-template>
