<h1>
  Create a free account
</h1>

<p>
  Or <a routerLink="/account/login">log in to your account</a>
</p>

<form
  [formGroup]="registerForm"
  (ngSubmit)="submit()"
  aria-label="New user registration information"
  novalidate>

  <gd-form-field [errors]="errors">
    <label
      class="gd-control-label"
      for="gd-register-first-name">
      First name
    </label>
    <input
      type="text"
      class="gd-form-control"
      id="gd-register-first-name"
      formControlName="firstName">
  </gd-form-field>

  <gd-form-field [errors]="errors">
    <label
      class="gd-control-label"
      for="gd-register-last-name">
      Last name
    </label>
    <input
      type="text"
      class="gd-form-control"
      id="gd-register-last-name"
      formControlName="lastName">
  </gd-form-field>

  <gd-form-field [errors]="errors">
    <label
      class="gd-control-label"
      for="gd-register-email-address">
      Email
    </label>
    <input
      type="email"
      class="gd-form-control"
      id="gd-register-email-address"
      formControlName="emailAddress">
  </gd-form-field>

  <gd-form-field [errors]="errors">
    <label
      class="gd-control-label"
      for="gd-register-new-password">
      New password
    </label>
    <gd-password-viewer
      [disabled]="registerForm.disabled"
      [inputElement]="passwordInput">
      <input
        type="password"
        class="gd-form-control"
        id="gd-register-new-password"
        formControlName="password"
        #passwordInput>
    </gd-password-viewer>
  </gd-form-field>

  <gd-form-field
    aria-hidden="true"
    class="gd-screen-reader-only"
    [errors]="errors">
    <label
      class="gd-control-label"
      for="gd-register-nickname">
      Nickname
    </label>
    <input
      type="text"
      class="gd-form-control"
      id="gd-register-nickname"
      formControlName="gdNickname">
  </gd-form-field>

  <p>
    By creating an account, you agree to our <a routerLink="/support/terms">Terms of Service</a> and <a routerLink="/support/privacy">Privacy Policy</a>.
  </p>

  <button
    class="gd-button gd-button-primary"
    type="submit"
    [disabled]="registerForm.disabled">
    Create new account
  </button>
</form>
