<gd-wait *ngIf="isLoading"></gd-wait>

<div class="gd-container gd-container-sm gd-spacing-padding-even-large">
  <h1>
    Delete your account
  </h1>

  <gd-notice noticeType="danger">
    Are you sure you want to delete your account?<br>
    <strong>This action cannot be undone!</strong>
  </gd-notice>

  <form
    class="gd-form"
    aria-label="Delete your account"
    [formGroup]="deleteAccountForm"
    (ngSubmit)="submit()"
    novalidate
  >
    <gd-form-field [errors]="errors">
      <label
        class="gd-control-label"
        for="gd-delete-account-password"
      >
        Enter your password
      </label>
      <gd-password-viewer
        [disabled]="deleteAccountForm.disabled"
        [inputElement]="passwordInput"
      >
        <input
          autocorrect="off"
          autocapitalize="none"
          type="password"
          class="gd-form-control"
          id="gd-delete-account-password"
          formControlName="password"
          autocomplete="off"
          #passwordInput
        />
      </gd-password-viewer>
    </gd-form-field>

    <div class="gd-button-group">
      <a
        class="gd-button gd-button-primary"
        routerLink="/account/settings"
      >
        Cancel
      </a>
      <button
        class="gd-button gd-button-danger"
        type="submit"
        [disabled]="deleteAccountForm.disabled"
      >
        Yes, delete my account forever.
      </button>
    </div>
  </form>

  <p>
    <a routerLink="/account/forgotten">Forget your password?</a>
  </p>
</div>
