@import '../../../styles/variables';

.gd-notice {
  padding: $gd-spacing-padding-squish;
  color: $gd-text-color-default;
  background-color: #fff;
  margin: $gd-spacing 0;
  font-weight: $gd-font-weight;
  border: 1px solid transparent;
  border-radius: $gd-border-radius;

  ::ng-deep p {
    margin: $gd-spacing-sm 0;
  }
}

.gd-notice-danger {
  background-color: $gd-background-color-danger;
  color: $gd-text-color-danger;
}

.gd-notice-warning {
  background-color: $gd-background-color-warning;
  color: $gd-text-color-warning;
}

.gd-notice-success {
  background-color: $gd-background-color-success;
  color: $gd-text-color-success;
}

.gd-notice-info {
  background-color: $gd-background-color-info;
  color: $gd-text-color-info;
}
