.gd-password-viewer {
  position: relative;

  ::ng-deep {
    .gd-form-control {
      padding-right: 50px;
    }
  }
}

.gd-password-viewer-button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: 0;
}
