<h1 *ngIf="user">
  {{ user.firstName }} {{ user.lastName }}
</h1>

<p>
  <app-button *ngIf="!isCreateControlActive" (click)="toggleCreateControl()">Create a wish list...</app-button>
</p>

<div *ngIf="isCreateControlActive">
  <app-wish-list-create-form
    (onSuccess)="onCreateSuccess()"
    (onError)="onCreateError($event)"
    (onCancel)="toggleCreateControl()">
  </app-wish-list-create-form>
</div>

<table class="app-table">
  <tr *ngFor="let wishList of wishLists">
    <td>
      <a [routerLink]="['/wish-lists', wishList._id]">{{ wishList.name }}</a>
    </td>
    <td>
      <app-button (click)="setActiveWishList(wishList)" [disabled]="isLoading">Edit</app-button>
      <app-button (click)="deleteWishList(wishList._id)" [disabled]="isLoading">Delete</app-button>
    </td>
  </tr>
</table>

<app-modal *ngIf="activeWishList" [isVisible]="true">
  <app-wish-list-edit-form
    [wishList]="activeWishList"
    (onSuccess)="onEditSuccess()"
    (onCancel)="activeWishList = undefined">
  </app-wish-list-edit-form>
</app-modal>
