<h1>
  Frequently Asked Questions
</h1>

<h3>
  What are dibs?
</h3>
<p>
  If you decide that you'd like to get a gift for one of your friends, simply click on the "Dib this" button on the gift detail. When you do this, the gift will be marked as "dibbed" to everyone (except the owner of the gift). Basically, you are claiming the gift purchase as your own to ensure that no one else buys the same gift for your friend. Keep in mind that when you dib a gift, the owner of the gift is unaware that you plan to purchase the gift for him/her. In other words, you can still surprise them, and you'll know it's something they really want!
</p>
