<gd-wait *ngIf="isLoading"></gd-wait>

<gd-modal>
  <gd-modal-header>
    <gd-modal-heading>
      <ng-container *ngIf="wishList else headingCreate">Edit list</ng-container>
      <ng-template #headingCreate>Create list</ng-template>
    </gd-modal-heading>
  </gd-modal-header>
  <gd-modal-body>
    <form
      aria-label="Edit wish list"
      class="gd-form"
      novalidate
      [formGroup]="wishListForm"
      (ngSubmit)="submit()"
    >
      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
          for="gd-wish-list-edit-name"
        >
          List name
        </label>
        <input
          autocomplete="off"
          class="gd-form-control"
          formControlName="name"
          id="gd-wish-list-edit-name"
          type="text"
        />
      </gd-form-field>

      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
          for="gd-wish-list-edit-type"
        >
          Type
        </label>
        <select
          class="gd-form-control"
          formControlName="type"
          id="gd-wish-list-edit-type"
        >
          <option value="wish-list">Wish list</option>
          <option value="registry">Registry</option>
        </select>
      </gd-form-field>

      <gd-notice *ngIf="wishListForm.value.type === 'registry' else wishListDescription"
        noticeType="warning"
      >
        Gifts that are dibbed in a registry will be visible to you! Select "Wish list" if you'd rather not know when gifts are claimed.
      </gd-notice>
      <ng-template #wishListDescription>
        <gd-notice>
          Gifts that are dibbed in a wish list will remain a secret.
        </gd-notice>
      </ng-template>

      <gd-form-field [errors]="errors">
        <gd-privacy-selector
          formControlName="privacy"
        >
        </gd-privacy-selector>
      </gd-form-field>
    </form>
  </gd-modal-body>
  <gd-modal-footer>
    <div class="gd-button-group">
      <button
        class="gd-button gd-button-primary"
        type="button"
        [disabled]="wishListForm.disabled"
        (click)="submit()"
      >
        Save changes
      </button>
      <button
        class="gd-button gd-button-default"
        type="button"
        [disabled]="wishListForm.disabled"
        (click)="onCancelClicked()"
      >
        Cancel
      </button>
    </div>
  </gd-modal-footer>
</gd-modal>
