@import '../../../styles/mixins';

.gd-repeater-item {
  display: flex;
  align-items: baseline;
  padding: $gd-spacing-sm 0;
  border-top: 1px dashed $gd-border-color-neutral-lightest;
}

.gd-repeater-item-body {
  flex: 1 1 auto;
}
