@import '../../../styles/_variables';
@import '../../../styles/mixins/_grid';

:host.app-column {
  padding-right: $grid-gutter;
  padding-left: $grid-gutter;
  width: 100%;
  min-height: 1px;
}

@media (min-width: $screen-sm-min) {
  @include create_columns(sm);
}

@media (min-width: $screen-md-min) {
  @include create_columns(md);
}

@media (min-width: $screen-lg-min) {
  @include create_columns(lg);
}
