@import '../../../styles/mixins';

:host.gd-column {
  padding-right: $gd-grid-gutter;
  padding-left: $gd-grid-gutter;
  width: 100%;
  min-height: 1px;
}

@include gd_create_columns(xs);

@media (min-width: $gd-screen-sm-min) {
  @include gd_create_columns(sm);
}

@media (min-width: $gd-screen-md-min) {
  @include gd_create_columns(md);
}

@media (min-width: $gd-screen-lg-min) {
  @include gd_create_columns(lg);
}
