@import '../../../styles/_variables';

.app-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-gutter;
  margin-right: -$grid-gutter;

  &.app-row-reverse {
    flex-direction: column-reverse;
  }

  @media (min-width: $screen-sm-min) {
    &.app-row-reverse {
      flex-direction: row-reverse;
    }
  }
}
