@import '../../../styles/variables';

.gd-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gd-grid-gutter;
  margin-right: -$gd-grid-gutter;

  &.gd-row-reverse {
    flex-direction: column-reverse;
  }

  @media (min-width: $gd-screen-sm-min) {
    &.gd-row-reverse {
      flex-direction: row-reverse;
    }
  }
}
