<h1>
  About GiftDibs
</h1>

<h2>
  It started with family
</h2>

<p>
  Have a big family and find it difficult to keep all the gift-giving holidays straight?
</p>

<p>
  <strong>With GiftDibs, you can...</strong>
</p>

<ol class="gd-ordered-list">
  <li>Create wish lists and share them with your family and friends.</li>
  <li>Your family and friends anonymously claim (or "dib") items on your wish list.</li>
  <li>You receive something you really wanted, but it's still a surprise!</li>
</ol>

<h2>
  Give great gifts
</h2>

<p>
  GiftDibs helps you keep the element of surprise, but give great gifts that your friends and family actually want! It's great for Christmas, birthdays, anniversaries, wedding and baby showers, and more!
</p>
