@import '../../../styles/mixins';

.gd-card {
  border: 1px solid $gd-border-color-neutral;
  background-color: #fff;
  margin-bottom: $gd-margin;
  border-radius: $gd-border-radius;
}

::ng-deep
.gd-drag-handle {
  @include gd_button();
  cursor: move;
}
