@import '../../../styles/variables';

.gd-alert {
  padding: $gd-padding $gd-padding-plus-half;
  color: #fff;
  background-color: $gd-color-text;
  margin: 0;
}

.gd-error {
  background-color: $gd-background-color-danger;
}

.gd-success {
  background-color: $gd-background-color-success;
}
