<div
  *ngIf="!isLoading"
>
  <header class="gd-container">
    <h1>
      {{ wishList.name }}
    </h1>
    <a
      [routerLink]="['/users', wishList.user._id]"
    >
      {{ wishList.user.firstName }} {{ wishList.user.lastName }}
    </a>
    updated {{ wishList.dateUpdated | date }}
  </header>

  <div class="gd-container-fluid">
    <gd-repeater>
      <gd-repeater-item *ngFor="let gift of wishList.gifts">
        <a
          [ngClass]="{
            'gd-text-strikethrough': gift.isReceived,
            'gd-text-deemphasized': gift.isReceived
          }"
          [routerLink]="[]"
          [queryParams]="{ giftId: gift._id }"
        >
          {{ gift.name }}
        </a>
      </gd-repeater-item>
    </gd-repeater>
  </div>
</div>
