<gd-card>
  <gd-card-header>
    <gd-card-heading>
      {{ wishList.name }}
    </gd-card-heading>
    <gd-card-controls *ngIf="isSessionUser">
      <button
        class="gd-button gd-button-link gd-deemphasized"
        type="button"
        (click)="openGiftModal()">
        <gd-icon icon="plus"></gd-icon>
      </button>
      <button
        class="gd-button gd-button-link gd-deemphasized"
        title="Toggle wish list options"
        type="button"
        gdDropdownMenuTrigger
        [menuItems]="menuItems"
        #dropdownTrigger>
        <gd-icon icon="ellipsis-v"></gd-icon>
      </button>
    </gd-card-controls>
  </gd-card-header>
  <gd-card-body *ngIf="wishList.gifts">
    <!-- TODO: MAKE THIS A REPEATER COMPONENT! -->
    <ul class="gd-wish-list-preview-gifts">
      <li *ngFor="let gift of wishList.gifts"
        class="gd-wish-list-preview-gift"
      >
        {{ gift.name }}
        <button
          class="gd-button gd-button-link gd-deemphasized"
          title="Toggle gift options"
          type="button"
          gdDropdownMenuTrigger
          [menuItems]="[]">
          <gd-icon icon="ellipsis-v"></gd-icon>
        </button>
      </li>
    </ul>
  </gd-card-body>
</gd-card>
