<gd-card>
  <gd-card-header>
    <gd-card-heading>
      {{ wishList.name }}
    </gd-card-heading>
    <button
      *ngIf="isSessionUser"
      type="button"
      class="gd-button gd-button-link gd-text-deemphasized gd-wish-list-preview-settings-button"
      title="Toggle wish list options"
      gdDropdownMenuTrigger
      [menuItems]="menuItems">
      <i
        class="fa fa-ellipsis-v"
        aria-hidden="true">
      </i>
    </button>
  </gd-card-header>
  <!-- <gd-card-body>
    Body...
  </gd-card-body>
  <gd-card-footer>
    <button
      type="button"
      class="gd-button gd-button-default gd-button-block gd-wish-list-preview-add-gift-button">
      Add a gift...
    </button>
  </gd-card-footer> -->
</gd-card>
