@import '../../../../styles/mixins';

.gd-wish-list-preview-gift {
  border-top: 1px solid $gd-border-color-neutral-lightest;
  padding-top: $gd-spacing-md;

  + .gd-wish-list-preview-gift {
    margin-top: $gd-spacing-md;
  }
}
