<div class="gd-wish-list-preview">
  <gd-card>
    <gd-card-header>
      <gd-card-heading>
        <gd-icon icon="list-alt"></gd-icon>
        {{ wishList.name }}
      </gd-card-heading>
      <gd-card-controls *ngIf="isSessionUser">
        <button
          class="gd-button gd-button-link gd-text-deemphasized"
          title="Toggle wish list options"
          type="button"
          gdDropdownMenuTrigger
          [menuItems]="menuItems"
          #dropdownTrigger
        >
          <gd-icon icon="ellipsis-v"></gd-icon>
        </button>
      </gd-card-controls>
    </gd-card-header>
    <gd-card-body>
      <gd-repeater>
        <gd-repeater-item *ngFor="let gift of wishList?.gifts">
          <gd-gift-preview
            [gift]="gift"
            [wishList]="wishList"
          >
          </gd-gift-preview>
        </gd-repeater-item>
        <gd-repeater-item *ngIf="isSessionUser">
          <button
            class="gd-button gd-button-block gd-button-default gd-wish-list-preview-button-add-item"
            type="button"
            (click)="openGiftCreateModal()"
            #addGiftButton
          >
            Add item...
          </button>
        </gd-repeater-item>
      </gd-repeater>
    </gd-card-body>
  </gd-card>
</div>
