@import '../../../../styles/mixins';

.app-gift-detail {
  ::ng-deep {
    gd-thumbnail {
      height: auto;
    }
  }
}

.app-gift-detail-user-activity {
  ::ng-deep {
    .gd-media {
      align-items: flex-start;
    }
  }
}

.app-gift-detail-similar-products {
  ::ng-deep {
    .gd-wait {
      position: static;
    }
  }
}

.app-gift-detail-notes {
  word-wrap: break-word;
}

.app-gift-detail-thumbnail {
  margin-bottom: $gd-spacing;
}

.gd-heading {
  margin-bottom: $gd-spacing-md;
}

.app-gift-detail-priority {
  font-size: 18px;
  margin-bottom: $gd-spacing-md;
}
