<gd-modal>
  <gd-modal-header>
    <gd-modal-heading>
      Edit wish list
    </gd-modal-heading>
  </gd-modal-header>
  <gd-modal-body>
    <form
      class="gd-form"
      aria-label="Edit wish list"
      [formGroup]="wishListForm"
      (ngSubmit)="submit()"
      novalidate>

      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
          for="gd-wish-list-edit-name">
          Wish list name
        </label>
        <input
          type="text"
          class="gd-form-control"
          formControlName="name"
          autocomplete="off">
      </gd-form-field>

      <gd-form-field [errors]="errors">
        <gd-wish-list-privacy-selector
          formControlName="privacy">
        </gd-wish-list-privacy-selector>
      </gd-form-field>
    </form>
  </gd-modal-body>
  <gd-modal-footer
    (cancelClicked)="onCancelClicked()">
    <button
      type="button"
      class="gd-button gd-button-primary"
      [disabled]="wishListForm.disabled"
      (click)="submit()">
      Save changes
    </button>
  </gd-modal-footer>
</gd-modal>
