<gd-modal>
  <gd-modal-header>
    <gd-modal-heading>
      Edit wish list
    </gd-modal-heading>
  </gd-modal-header>
  <gd-modal-body>
    <form
      aria-label="Edit wish list"
      class="gd-form"
      novalidate
      [formGroup]="wishListForm"
      (ngSubmit)="submit()"
    >
      <gd-form-field [errors]="errors">
        <label
          class="gd-control-label"
          for="gd-wish-list-edit-name"
        >
          Wish list name
        </label>
        <input
          autocomplete="off"
          class="gd-form-control"
          formControlName="name"
          id="gd-wish-list-edit-name"
          type="text"
        />
      </gd-form-field>

      <gd-form-field [errors]="errors">
        <gd-privacy-selector
          formControlName="privacy"
        >
        </gd-privacy-selector>
      </gd-form-field>
    </form>
  </gd-modal-body>
  <gd-modal-footer
    (cancelClicked)="onCancelClicked()"
  >
    <button
      class="gd-button gd-button-primary"
      type="button"
      [disabled]="wishListForm.disabled"
      (click)="submit()"
    >
      Save changes
    </button>
  </gd-modal-footer>
</gd-modal>
