<h1>
  Dibs
</h1>

<div *ngIf="recipients">
  <gd-card *ngFor="let recipient of recipients">
    <gd-card-title>
      {{ recipient.firstName }} {{ recipient.lastName }}
    </gd-card-title>
    <gd-card-body *ngFor="let gift of recipient.gifts">
      <gd-row>
        <gd-column screenXSmall="6">
          <strong>{{ gift.name }}</strong><br>
          <a routerLink="/wish-lists/{{ gift._wishList._id }}">{{ gift._wishList.name }}</a><br>
          ${{ gift.budget }}
        </gd-column>
        <gd-column screenXSmall="6">
          <app-dib-edit
            [dib]="gift._dib"
            (onSuccess)="onDibEdit()">
          </app-dib-edit>
          <div *ngIf="gift._dib.dateDelivered">
            Date delivered: {{ gift._dib.dateDelivered | date }}
          </div>
        </gd-column>
      </gd-row>
    </gd-card-body>
    <gd-card-footer>
      <gd-row>
        <gd-column screenXSmall="9">
          Totals for {{ recipient.firstName }}:
        </gd-column>
        <gd-column screenXSmall="3">
          ${{ recipient.budget }}
        </gd-column>
      </gd-row>
    </gd-card-footer>
  </gd-card>
</div>
