@import '../../../../styles/mixins';

.gd-privacy-selector-item {
  display: flex;
  padding: $gd-spacing-padding-squish-compact;
  font-weight: $gd-font-weight;
}

.gd-privacy-selector-item-body {
  flex: 1 1 auto;
  padding-left: $gd-spacing-md;
  padding-right: $gd-spacing-md;
}
