<h1>
  Register
</h1>

<form
  [formGroup]="registerForm"
  (ngSubmit)="register()"
  novalidate>

  <!-- PREVENTS AUTOCOMPLETE OF EMAIL/PASSWORD -->
  <div
    style="position:absolute;left:-500000px;"
    aria-hidden="true">
    <input type="email" name="emailAddress">
    <input type="password" name="password">
  </div>

  <gd-row>
    <gd-column screenSmall="6">
      <gd-form-field
        label="First name"
        [serverErrors]="errors">
        <input
          gdInput
          type="text"
          formControlName="firstName">
      </gd-form-field>
    </gd-column>
    <gd-column screenSmall="6">
      <gd-form-field
        label="Last name"
        [serverErrors]="errors">
        <input
          gdInput
          type="text"
          formControlName="lastName">
      </gd-form-field>
    </gd-column>
  </gd-row>

  <gd-form-field
    label="Nickname"
    style="display: none;"
    [serverErrors]="errors">
    <input
      gdInput
      type="text"
      formControlName="gdNickname">
  </gd-form-field>

  <gd-form-field
    label="Email address"
    [serverErrors]="errors">
    <input
      gdInput
      type="email"
      formControlName="emailAddress">
  </gd-form-field>

  <gd-form-field
    label="New password"
    [serverErrors]="errors">
    <input
      gdInput
      type="password"
      formControlName="password">
  </gd-form-field>

  <p>
    By submitting this form you are agreeing to our <a routerLink="/support/privacy">Privacy Policy</a> and <a routerLink="/support/terms">Terms</a>.
  </p>

  <gd-button-container>
    <button
      gdButton
      type="submit"
      [disabled]="isLoading">
      Register
    </button>
  </gd-button-container>
</form>

<h3>
  OR
</h3>

<p>
  <gd-facebook-login-button
    [disabled]="isLoading">
  </gd-facebook-login-button>
</p>
