@import '../../../styles/mixins';

:host {
  width: 275px;
  max-width: 100%;
  display: block;
}

.gd-popover {
  box-shadow: $gd-box-shadow;
  background-color: #fff;
  padding: $gd-spacing-padding-squish;
}
