@import '../../../../styles/mixins';

.app-notifications {
  ::ng-deep {
    .gd-repeater {
      margin: 0 !important;
    }
  }
}

.app-notification {
  line-height: $gd-line-height-reduced;
}

.app-notifications-secondary-controls {
  padding-top: $gd-spacing-sm;
}

.app-notifications-trigger-button {
  font-size: 120%;
  position: relative;
  color: #fff;

  &:hover {
    color: #fff !important;
  }
}

.app-notifications-badge {
  position: absolute;
  top: 0;
  right: 10px;
}
