<button
  aria-label="Toggle notifications"
  class="gd-button gd-button-link"
  title="Notifications"
  type="button"
  [gdPopover]="content"
  gdPopoverHorizontalAlignment="right"
  gdPopoverVerticalAlignment="bottom"
>
  <gd-icon icon="bell"></gd-icon>
  <gd-badge *ngIf="notifications?.length">{{ notifications?.length }}</gd-badge>
</button>

<ng-template #content>
  <gd-repeater>
    <gd-repeater-item *ngFor="let notification of notifications">
      <time class="gd-text-deemphasized">
        {{ notification.dateCreated }}
      </time>
      <div [ngSwitch]="notification.type">
        <ng-template ngSwitchCase="gift_comment">
          <a [routerLink]="['/']">{{ notification.gift.comment.user.firstName }} {{ notification.gift.comment.user.lastName }}</a>
          commented on <a [routerLink]="['/']">{{ notification.gift.name }}</a>.
          <p>"{{ notification.gift.comment.summary }}"</p>
        </ng-template>
        <ng-template ngSwitchCase="gift_comment_also">
          <a [routerLink]="['/']">{{ notification.gift.comment.user.firstName }} {{ notification.gift.comment.user.lastName }}</a>
          also commented on <a [routerLink]="['/']">{{ notification.gift.name }}</a>.
          <p>"{{ notification.gift.comment.summary }}"</p>
        </ng-template>
        <ng-template ngSwitchCase="gift_delivered">
          gift delivered
        </ng-template>
        <ng-template ngSwitchCase="gift_received">
          gift received
        </ng-template>
        <ng-template ngSwitchCase="friendship_new">
          friendship new
        </ng-template>
      </div>

      <gd-repeater-controls>
        <button
          class="gd-button gd-button-link"
          title="Delete notification"
          type="button"
          (click)="removeNotification(notification)"
        >
          <gd-icon icon="trash-alt"></gd-icon>
        </button>
      </gd-repeater-controls>
    </gd-repeater-item>
  </gd-repeater>
</ng-template>
