<h1>
  Settings
</h1>

<p>
  <button
    gdButton
    type="button"
    (click)="linkFacebook()"
    [disabled]="isLoading"
    *ngIf="!user?.facebookId">
    Link Facebook account
  </button>
  <button
    gdButton
    type="button"
    (click)="unlinkFacebook()"
    [disabled]="isLoading"
    *ngIf="user?.facebookId">
    Unlink Facebook account
  </button>
  <button
    gdButton
    type="button"
    (click)="refreshFacebook()"
    [disabled]="isLoading"
    *ngIf="user?.facebookId">
    Refresh account information
  </button>
</p>

<form
  [formGroup]="settingsForm"
  (ngSubmit)="submit()"
  novalidate>

  <gd-row>
    <gd-column
      screenSmall="6">
      <gd-form-field
        label="First name"
        [serverErrors]="errors">
        <input
          gdInput
          type="text"
          formControlName="firstName">
      </gd-form-field>
    </gd-column>
    <gd-column
      screenSmall="6">
      <gd-form-field
        label="Last name"
        [serverErrors]="errors">
        <input
          gdInput
          type="text"
          formControlName="lastName">
      </gd-form-field>
    </gd-column>
  </gd-row>

  <gd-form-field
    label="Email address"
    [serverErrors]="errors">
    <input
      gdInput
      type="email"
      formControlName="emailAddress">
  </gd-form-field>

  <button
    gdButton
    type="submit"
    [disabled]="isLoading">
    Save Changes
  </button>
</form>

<p>
  <a [routerLink]="['/reset-password']">Reset password...</a>
</p>
<p>
  <a routerLink="/delete-account">Delete account...</a>
</p>
